<script type="text/ng-template" id="missingfieldspopup.html">
    <form name="misForm" novalidate role="form" ng-submit="misFieldsSubmit(misObj);">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="margin-top: -13px; color: maroon;">More About You..</h4>
                <br />
                <h4><span id="spanText" style="color: rgb(176, 24, 24);">We Want To Know More About You</span></h4>
            </div>
            <div class="modal-body">
                <ul>
                    <div class="row" id="MissingFieldsDiv">
                        <div class="col-lg-6" ng-style="{display:divCol || 'block'}">
                            <div class="control-group form-group  col-lg-12" ng-hide="divHeight">
                                <div class="col-lg-4">
                                    <label class="control-label">Height<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-lg-8 input-group" id="ddlFromheightdiv">
                                    <select multiselectdropdown ng-model="misObj.ddlFromheight" typeofdata="'height'" ng-required="divHeight==true?false:true"></select>
                                </div>
                                <div class="col-lg-8" id="lblheightdiv">
                                    <label id="lblheight"></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group  col-lg-12" ng-hide="divMaritalstatus">
                                <label class="col-lg-4 control-label">Marital status<span  style="color: red;">*</span></label>
                                <div class="col-lg-8 input-group" id="lstMaritalstatusdiv">
                                    <select multiselectdropdown ng-model="misObj.lstMaritalstatus" typeofdata="'MaritalStatus'" ng-required="divMaritalstatus==true?false:true"> </select>
                                </div>
                                <div class="col-lg-8" id="lbllstMaritalstatusdiv">
                                    <label id="lbllstMaritalstatus"></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group form-group  col-lg-12" ng-hide="divComplexion">
                                <div class="col-lg-4">
                                    <label class="control-label">Complexion<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-lg-8 input-group" id="lstComplexiondiv">
                                    <select multiselectdropdown ng-model="misObj.lstComplexion" typeofdata="'Complexion'" ng-required="divComplexion==true?false:true"></select>
                                </div>
                                <div class="col-lg-8" id="lbllstComplexiondiv">
                                    <label id="lbllstComplexion"></label>
                                </div>
                            </div>
                            <div ng-hide="divProfession">
                                <div class="clearfix"></div>
                                <div class="control-group  col-lg-12" ng-hide="divJobLocCountry">
                                    <div class="col-lg-4">
                                        <label class="control-label">JobLoc Country</label>
                                    </div>
                                    <div class="col-lg-8" id="lstJoblocCountrydiv">
                                        <select multiselectdropdown ng-model="misObj.lstJoblocCountry" typeofdata="'Country'" ng-change="changeBind('Country',misObj.lstJoblocCountry);"></select>
                                    </div>
                                    <div class="col-lg-8" id="lbllstJoblocCountrydiv">
                                        <label id="lbllstJoblocCountry"></label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="control-group  col-lg-12" ng-hide="divJobLocState">
                                    <div class="col-lg-4">
                                        <label class="control-label">JobLoc State</label>
                                    </div>
                                    <div class="col-lg-8" id="lstjoblocstatediv">
                                        <select multiselectdropdown ng-model="misObj.lstjoblocstate" ng-options="item.value as item.label for item in stateArr" ng-change="changeBind('State',misObj.lstjoblocstate,misObj.lstJoblocCountry);"></select>
                                    </div>
                                    <div class="col-lg-8" id="lbllstjoblocstatediv">
                                        <label id="lbllstjoblocstate"></label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="control-group  col-lg-12" ng-hide="JobLocDistrict">
                                    <div class="col-lg-4">
                                        <label class="control-label">JobLoc District</label>
                                    </div>
                                    <div class="col-lg-8" id="lstjoblocdistrictdiv">
                                        <select multiselectdropdown ng-model="misObj.lstjoblocdistrict" ng-options="item.value as item.label for item in districtArr" ng-change="changeBind('District',misObj.lstjoblocdistrict);"></select>
                                    </div>
                                    <div class="col-lg-8" id="lbllstjoblocdistrictdiv">
                                        <label id="lbllstjoblocdistrict"></label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="control-group  col-lg-12" ng-hide="JobLoc">
                                    <div class="col-lg-4">
                                        <label class="control-label">Job Location</label>
                                    </div>
                                    <div class="col-lg-8" id="lstjoblocationdiv">
                                        <select multiselectdropdown ng-model="misObj.lstjoblocation" ng-options="item.value as item.label for item in cityeArr"></select>
                                    </div>
                                    <div class="col-lg-8" id="lbllstjoblocationdiv">
                                        <label id="lbllstjoblocation"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="control-group  col-lg-12" ng-hide="divFatherNative">
                                <div class="col-lg-4">
                                    <label class="control-label">
                                    Father Native</label>
                                </div>
                                <div class="col-lg-8" id="txtfathernativediv">
                                    <input type="text" class="form-control textboxclear" ng-model="misObj.txtfathernative" />
                                </div>
                                <div class="col-lg-8" id="lblfathernativediv">
                                    <label id="lblfathernative"></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divMotherNative">
                                <div class="col-lg-4">
                                    <label class="control-label">
                                    Mother Native</label>
                                </div>
                                <div class="col-lg-8" id="txtmothernativediv">
                                    <input type="text" class="form-control textboxclear" ng-model="misObj.txtMothernative" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divSalary">
                                <div class="col-lg-4">
                                    <label class="control-label">Salary</label>
                                </div>
                                <div class="col-lg-8 doubleselect" id="ddlAnnualincomediv" style="padding-left: 0px;">
                                    <div class="col-lg-6 pull-left">
                                        <select multiselectdropdown ng-model="misObj.ddlAnnualincome" typeofdata="'currency'"></select>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" class="form-control textboxclear" ng-model="misObj.txtSalary" ng-blur="currencyChange();" onkeydown="return (((event.keyCode == 8) || (event.keyCode == 46) || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)));"
                                            MaxLength="7" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divIssharedproperty">
                                <div class="col-lg-4">
                                    <label class="control-label">
                                    Shared property</label>
                                </div>
                                <div class="col-lg-8">
                                    <md-radio-group layout="row" ng-model="misObj.rdlSharedProperty" class="md-block" flex-gt-sm ng-disabled="manageakerts" ng-change="setPhotoPassword(rbtProtectPassword);">
                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                        <md-radio-button value="0"> No </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divProperty">
                                <div class="col-lg-4">
                                    <label class="control-label">
                                    Property lakhs</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control textboxclear" ng-model="misObj.txtProperty" onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" maxlength="5" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divStarlanguage">
                                <div class="col-lg-4">
                                    <label class="control-label">Star language</label>
                                </div>
                                <div class="col-lg-8" id="ddlstarlanguagesdiv">
                                    <select multiselectdropdown ng-model="misObj.ddlstarlanguages" typeofdata="'starLanguage'" ng-change="changeBind('star',misObj.ddlstarlanguages);"></select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-8" id="lblddlstarlanguagesdiv">
                                    <label id="lblddlstarlanguages"></label>
                                </div>
                            </div>
                            <div class="control-group  col-lg-12" ng-hide="divStar">
                                <div class="col-lg-4">
                                    <label class="control-label">Star</label>
                                </div>
                                <div class="col-lg-8" id="lststardiv">
                                    <select multiselectdropdown ng-model="misObj.lststar" ng-options="item.value as item.label for item in starArr"></select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="control-group  col-lg-12" ng-hide="divGothram">
                                <div class="col-lg-4">
                                    <label class="control-label">
                                    Gothram/Gotra</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control textboxclear" ng-model="misObj.txtgothram" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-9">
                                <input type="submit" value="Submit" class="button_custom  pull-right">
                            </div>
                            <div class="col-lg-3">
                                <input value="Skip this page" ng-hide="divSkip" ng-click="redirectToMobVerification();" class="button_custom button_custom_reset  pull-left" type="button">
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </form>
</script>
<div id="popupdivs">
    <div ng-controller="eduAndProfCtrl">
        <script type="text/ng-template" id="EduModalContent.html">
            <form name="eduForm" novalidate role="form" ng-submit="eduSubmit(edoObj);" accessible-form>
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Education Details
                    </h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul id="uleducation" class='modal-body clearfix pop_content_my'>
                        <li class="clearfix form-group">
                            <label for="lblIsHighestDegree" class="pop_label_left">Is Highest Degree<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="radio-group-my">
                                <md-input-container style="font-weight: 700;color:black;">
                                    <md-radio-group ng-required="true" name="IsHighestDegree" layout="row" ng-model="edoObj.IsHighestDegree" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                        <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                        <md-radio-button value="0"> No </md-radio-button>
                                    </md-radio-group>
                                    <div ng-messages="eduForm.IsHighestDegree.$invalid">
                                        <div ng-if="eduForm.IsHighestDegree.$invalid && (eduForm.$submitted)">This field is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Education category<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="edoObj.ddlEduCatgory" typeofdata="educationcategory" ng-change="changeBind('EducationCatgory',edoObj.ddlEduCatgory);" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Education group<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="edoObj.ddlEdugroup" ng-options="item.value as item.label for item in eduGroupArr" ng-change="changeBind('EducationGroup',edoObj.ddlEdugroup);" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Edu specialization<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="edoObj.ddlEduspecialization" typeofdata="" ng-options="item.value as item.label for item in eduSpecialisationArr" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group" id="divuniversity">
                            <label for="lbluniversity" class="pop_label_left">University</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="edoObj.txtuniversity" maxlength="100" class="form-control" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblcollege" class="pop_label_left">College</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="edoObj.txtcollege" maxlength="150" class="form-control" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblPassOfYear" class="pop_label_left">Pass of year{{edoObj.ddlpassOfyear}}</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="edoObj.ddlpassOfyear" ng-options="item1.value as item1.label for item1 in passOfyearArr"></select>
                            </div>
                        </li>
                        <country-directive countryshow="true" cityshow="true" othercity="true" dcountry="edoObj.ddlCountry" dstate="edoObj.ddlState" ddistrict="edoObj.ddlDistrict" dcity="edoObj.ddlcity" strothercity="edoObj.txtcity"></country-directive>
                        <li class="clearfix form-group">
                            <label for="lblEduMerits" class="pop_label_left">Educational merits</label>
                            <div class="">
                                <textarea ng-model="edoObj.txtEdumerits" maxlength="500" rows="4" cols="20" style="width:515px;" tabindex="12" onkeydown="return CharacterCountedu()" onkeyup="return CharacterCountedu()"></textarea>
                            </div>
                        </li>
                        <li class="row">
                            <br/>
                            <div class="col-lg-12">
                                <input value="Submit" class="button_custom pull-right" type="submit">
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </script>
        <script type="text/ng-template" id="profModalContent.html">
            <form name="profForm" novalidate role="form" ng-submit="ProfSubmit(profObj);" accessible-form>
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Profession details
                    </h3>
                </div>
                <div class="modal-body clearfix pop_content_my" id="modal-body">
                    <ul>
                        <li class="clearfix form-group">
                            <label for="lblempin" class="pop_label_left">Employed In<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="profObj.ddlemployedin" typeofdata="ProfCatgory" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblprofessiongroup" class="pop_label_left">Professional group<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="profObj.ddlprofgroup" typeofdata="ProfGroup" ng-change="ProfchangeBind('ProfessionGroup',profObj.ddlprofgroup);" required></select>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblprofession" class="pop_label_left">Profession<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="profObj.ddlprofession" ng-options="item.value as item.label for item in ProfSpecialisationArr" required></select>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblcmpyname" class="pop_label_left">Company name</label>
                            <div class="pop_controls_right select-box-my">
                                <input ng-model="profObj.txtcmpyname" class="form-control" tabindex="4" maxlength="100" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblsal" class="pop_label_left">Monthly salary</label>
                            <div class="pop_controls_right select-box-my select-box-my-double">
                                <select multiselectdropdown ng-model="profObj.ddlcurreny" typeofdata='currency'></select>
                                <input onkeyup="this.value=this.value.replace(/[^\d\.\-]/g,'');" ng-model="profObj.txtsalary" style="float:right" class="form-control" onchange="currency();" maxlength="7" tabindex="6" />
                            </div>
                        </li>
                        <country-directive countryshow="true" cityshow="true" othercity="true" dcountry="profObj.ddlCountryProf" dstate="profObj.ddlStateProf" ddistrict="profObj.ddlDistrictProf" dcity="profObj.ddlcityworkingprofession" strothercity="profObj.txtcityprofession"></country-directive>
                        <li class="clearfix form-group">
                            <label for="lblworkingfrome" class="pop_label_left">Working from date</label>
                            <div class="pop_controls_right">
                                <date-picker strdate="profObj.txtworkingfrom"></date-picker>
                            </div>
                        </li>
                        <div id="divfalseVisa" ng-if="profObj.ddlCountryProf!=1">
                            <li class="clearfix form-group">
                                <label for="lblvisastatus" class="pop_label_left">visa status</label>
                                <div class="pop_controls_right select-box-my">
                                    <div class="select-box-my">
                                        <select multiselectdropdown ng-model="profObj.ddlvisastatus"></select>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label class="pop_label_left" for="lblsincedate">Since date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtssincedate"></date-picker>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblarrivaldate" class="pop_label_left">Arrival Date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtarrivaldate"></date-picker>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lbldeaparturedate" class="pop_label_left">Departure Date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtdeparture"></date-picker>
                                </div>
                            </li>
                        </div>
                        <li class="clearfix form-group">
                            <label for="lbloccupation" class="pop_label_left">Occupation Details</label>
                            <div class="">
                                <textarea ng-model="profObj.txtoccupation" style="width:515px;" rows="4" tabindex="16" maxlength="500" onkeydown="return CharacterCount()"></textarea>
                                <label id="lbloccupationcount" style="color: #1e1c1c; font-size: 13px;"></label>
                            </div>
                        </li>
                        <li class="row">
                            <br/>
                            <div class="col-lg-12">
                                <input type="submit" value="Submit" class="button_custom  pull-right">
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </script>
    </div>
    <div ng-controller="parentCtrl">
        <script type="text/ng-template" id="parentModalContent.html">
            <form name="parentForm" novalidate role="form" ng-submit="ParentSubmit(parent)" accessible-form>
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Parent details
                    </h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class='modal-body clearfix pop_content_my'>
                        <ul>
                            <li>
                                <h6>Father Details</h6>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lbleducationGroup" class="pop_label_left" style="color: red;">Father Name<span style="color: red; margin-left: 3px;">*</span></label>

                                <div class="pop_controls_right form-group">
                                    <input type="text" ng-model="parent.txtFathername" class="form-control" tabindex="1" required/>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblFEducation" class="pop_label_left">Education</label>
                                <div class="pop_controls_right">
                                    <input type="text" ng-model="parent.txtFEducation" class="form-control" maxlength="150" tabindex="2" />
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblFProfession" class="pop_label_left">Profession</label>
                                <div class="pop_controls_right">
                                    <input type="text" ng-model="parent.txtFProfession" class="form-control" maxlength="200" tabindex="3" />
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblCompanyName" class="pop_label_left">Company Name </label>
                                <div class="pop_controls_right">
                                    <input type="text" ng-model="parent.txtCompany" class="form-control" maxlength="100" tabindex="4" />
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblJobLocation" class="pop_label_left">Job Location</label>
                                <div class="pop_controls_right">
                                    <input type="text" ng-model="parent.txtJobLocation" class="form-control" maxlength="100" tabindex="5" />
                                </div>
                            </li>
                            <contact-directive emailhide="true" dmobile="parent.ddlMobile" strmobile="parent.txtMobile" dalternative="parent.ddlfathermobile2" stralternative="parent.txtfathermobile2" dland="parent.ddlLandLineCountry" strareacode="parent.txtAreCode" strland="parent.txtLandNumber"
                                strmail="parent.txtEmail"></contact-directive>
                            <li class="clearfix form-group">
                                <label for="lblFatherFname" class="pop_label_left">Father's father name </label>
                                <div class="pop_controls_right">
                                    <input type=text ng-model="parent.txtFatherFname" class="form-control" placeholder="Enter Father's father name" maxlength="100" tabindex="17" />
                                </div>
                            </li>
                            <contact-directive emailhide="false" dmobile="parent.ddlFatherfatherMobileCountryCode" strmobile="parent.txtMobileFatherfather" dalternative="parent.ddlfatherfatherAlternative" stralternative="parent.txtfatherfatherAlternative" dland="parent.ddlFatherFatherLandLineCode"
                                strareacode="parent.txtGrandFatherArea" strland="parent.txtGrandFatherLandLinenum"></contact-directive>
                            <country-directive countryshow="false" dcountry="dcountry" cityshow="false" othercity="false" dstate="parent.ddlFState" ddistrict="parent.ddlFDistric"></country-directive>
                            <li class="clearfix form-group">
                                <label for="FNativePlace" class="pop_label_left">Native Place</label>
                                <div class="pop_controls_right">
                                    <input ng-model="parent.txtFNativePlace" class="form-control" maxlength="100" tabindex="29" />
                                </div>
                            </li>
                            <li>
                                <h6>Mother Details</h6>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblMotherName" class="pop_label_left" style="color: red;">Mother Name<span style="color: red; margin-left: 3px;">*</span></label>
                                <div class="pop_controls_right form-group">
                                    <input ng-model="parent.txtMName" class="form-control" maxlength="100" tabindex="30" required/>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblMEducation" class="pop_label_left">Education</label>
                                <div class="pop_controls_right">
                                    <input ng-model="parent.txtMEducation" class="form-control" maxlength="150" tabindex="31" />
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblMProfession" class="pop_label_left">Profession</label>
                                <div class="pop_controls_right">
                                    <input ng-model="parent.txtMProfession" class="form-control" maxlength="200" tabindex="32" />
                                    <label class="checkbox-inline checkbox_my" style="padding: 5px 0 0 0;">
                <input type=checkbox ng-model="parent.chkbox"  tabindex="33"  ng-change="housewiseChk(parent);"/><span>&nbsp;HouseWife</span>
            </label>
                                </div>
                            </li>
                            <div id="divmotherprofesseion">
                                <li id="divComLocation" class="clearfix form-group">
                                    <label for="lblMCompanyName" class="pop_label_left">Company Name </label>
                                    <div class="pop_controls_right">
                                        <input ng-model="parent.txtMCompanyName" class="form-control" maxlength="100" tabindex="34" />
                                    </div>
                                </li>
                                <li class="clearfix form-group">
                                    <label for="lblMJobLocation" class="pop_label_left">Job Location</label>
                                    <div class="pop_controls_right">
                                        <input ng-model="parent.txtMJobLocation" class="form-control" maxlength="100" tabindex="35" />
                                    </div>
                                </li>
                            </div>
                            <div style="height: 15px;"></div>
                            <contact-directive emailhide="true" dmobile="parent.ddlMMobileCounCodeID" strmobile="parent.txtMMobileNum" dalternative="parent.ddlMMobileCounCodeID2" stralternative="parent.txtMMobileNum2" dland="parent.ddlMLandLineCounCode" strareacode="parent.txtmAreaCode"
                                strland="parent.txtMLandLineNum" strmail="parent.txtMEmail"></contact-directive>
                            <li class="clearfix form-group">
                                <label for="lblMotherFname" class="pop_label_left">Mother's Father Name </label>
                                <div class="pop_controls_right select-box-my">
                                    <input type="text" ng-model="parent.txtMFatherFname" class="form-control" placeholder="FIRST NAME" tabindex="47" maxlength="100" />
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblMotherFname" class="pop_label_left">Mother's Last Name </label>
                                <div class="pop_controls_right select-box-my">
                                    <input type="text" ng-model="parent.txtMFatherLname" class="form-control" placeholder="LAST NAME" tabindex="48" maxlength="50" />
                                </div>
                            </li>
                            <contact-directive emailhide="false" dmobile="parent.ddlMotherfatheMobileCountryCode" strmobile="parent.txtMotherfatheMobilenumber" dalternative="parent.ddlmotherfatheralternative" stralternative="parent.txtmotherfatheralternative" dland="parent.ddlMotherFatherLandLineCode"
                                strareacode="parent.txtMotherFatherLandLineareacode" strland="parent.txtMotherFatherLandLinenum"></contact-directive>
                            <country-directive countryshow="false" dcountry="dcountry" cityshow="false" othercity="false" dstate="parent.ddlMState" ddistrict="parent.ddlMDistrict"></country-directive>
                            <li class="clearfix form-group">
                                <label for="MNativePlace" class="pop_label_left">Native Place</label>
                                <div class="pop_controls_right">
                                    <input type="text" ng-model="parent.txtMNativePlace" class="form-control" maxlength="150" tabindex="60" />
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="ParentIntercaste" class="pop_label_left">Are parents interCaste ? </label>
                                <div class="pop_controls_right pop_radios_list">
                                    <label>
                    <input ng-model="parent.rbtlParentIntercaste" value="1" type="radio"><span>&nbsp;Yes</span>
                </label>
                                    <label class="">
                    <input ng-model="parent.rbtlParentIntercaste" value="0" type="radio"><span>&nbsp;No</span>
                </label>
                                </div>
                            </li>
                            <div ng-if="parent.rbtlParentIntercaste==='1'">
                                <li id="divddlFatherCaste" class="clearfix form-group">
                                    <label for="lblFCaste" class="pop_label_left">Father Caste</label>
                                    <div class="pop_controls_right select-box-my">
                                        <select multiselectdropdown ng-model="parent.ddlFatherCaste" typeofdata="caste" required></select>
                                    </div>
                                </li>
                                <li id="divddlMotherCaste" class="clearfix form-group">
                                    <label for="lblMCaste" class="pop_label_left">Mother Caste</label>
                                    <div class="pop_controls_right select-box-my">
                                        <select multiselectdropdown ng-model="parent.ddlMotherCaste" typeofdata="caste"></select>
                                    </div>
                                </li>
                            </div>
                            <li class="row">
                                <br/>
                                <div class="col-lg-12">
                                    <button type="submit" class="button_custom pull-right">Submit</button>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
            </form>
        </script>
        </div>
    </div>
    <div ng-controller="astroCtrl">
        <script type="text/ng-template" id="astroContent.html">
            <form name="astroForm" novalidate role="form" ng-submit="astroSubmit(atroObj)" accessible-form>
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Astro details
                        <a href="javascript:void(0);" ng-click="redirectToMobVerification();">
                            <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                        </a>
                    </h3>
                </div>
                <div class="modal-body clearfix pop_content_my" id="modal-body">
                    <ul id="ulastro">
                        <li class="clearfix form-group">
                            <label for="lbltimebirth" class="pop_label_left">Time of Birth<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my select-box-my-trible select-box-my-trible3 input-group">
                                <select multiselectdropdown ng-model="atroObj.ddlFromHours" ng-options="item.value as item.label for item in hrsbindArr" required></select>
                                <select multiselectdropdown ng-model="atroObj.ddlFromMinutes" ng-options="item.value as item.label for item in minbindArr" required></select>
                                <select multiselectdropdown ng-model="atroObj.ddlFromSeconds" ng-options="item.value as item.label for item in secbindArr" required></select>
                            </div>
                        </li>
                        <country-directive require="true" countryshow="true" cityshow="true" othercity="false" dcountry="atroObj.ddlCountryOfBirthID" dstate="atroObj.ddlStateOfBirthID" ddistrict="atroObj.ddlDistrictOfBirthID" dcity="atroObj.ddlcity"></country-directive>
                        <li class="clearfix form-group">
                            <label for="lblstarlan" class="pop_label_left">Star language</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="atroObj.ddlstarlanguage" typeofdata="starLanguage" ng-change="changeBind('star',atroObj.ddlstarlanguage);"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblstar" class="pop_label_left">Star</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="atroObj.ddlstar" ng-options="item.value as item.label for item in starArr"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblpaadam" class="pop_label_left">Paadam</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="atroObj.ddlpaadam" typeofdata="paadam"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblLagnam" class="pop_label_left">Lagnam</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="atroObj.ddlLagnam" typeofdata="lagnam"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblRaasiMoonsign" class="pop_label_left">Raasi/Moon sign</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="atroObj.ddlRaasiMoonsign" typeofdata="ZodaicSign"></select>
                                </select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblGothramGotra" class="pop_label_left">Gothram/Gotra</label>
                            <div class="pop_controls_right select-box-my">
                                <input ng-model="atroObj.txtGothramGotra" class="form-control" tabindex="13" maxlength="100" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblMaternalgothram" class="pop_label_left">Maternal gothram</label>
                            <div class="pop_controls_right select-box-my">
                                <input ng-model="atroObj.txtMaternalgothram" class="form-control" tabindex="14" maxlength="100" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblManglikKuja dosham" class="pop_label_left">Manglik/Kuja dosham</label>
                            <div class="pop_controls_right pop_radios_list clearfix form-group">
                                <label>
                    <input ng-model="atroObj.rdlkujaDosham" value="0" type="radio"><span>&nbsp;Yes</span>
                </label>
                                <label class="">
                    <input ng-model="atroObj.rdlkujaDosham" value="1" type="radio"><span>&nbsp;No</span>
                </label>
                                <label class="">
                    <input ng-model="atroObj.rdlkujaDosham" value="2" type="radio"><span>&nbsp;Dont't Know</span>
                </label>

                            </div>
                        </li>
                        <li class="clearfix form-group" style="display: none;">
                            <label for="lbllongitude" class="pop_label_left">Place of birth longitude</label>
                            <div class="pop_controls_right select-box-my">
                                <input id="txtlogitude" class="form-control" />
                                <select multiselectdropdown ng-model="atroObj.ddllongitude"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group" style="display: none;">
                            <label for="lbllatitude" class="pop_label_left">Place of birth latitude</label>
                            <div class="pop_controls_right select-box-my">
                                <input id="txtlatitude" class="form-control col-lg-3" />
                                <select multiselectdropdown ng-model="atroObj.ddllatitude"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group" style="display: none;">
                            <label for="lbllatitude">Place of birth latitude</label>
                            <div class="pop_controls_right select-box-my">
                                <input type="checkbox" ng-model="atroObj.Chkgenertehoro" value="Generate HoroScope" />
                            </div>
                        </li>
                        <li class="row">
                            <br/>
                            <div class="col-lg-8">
                                <input type="submit" value="Submit" class="button_custom  pull-right">
                            </div>
                            <div class="col-lg-3">
                                <input value="Skip this page" ng-click="redirectToMobVerification();" class="button_custom button_custom_reset  pull-left" type="button">
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </script>
    </div>
    <style type="text/css">
        md-dialog.md-transition-in {
            max-width: 950px;
            width: 100%;
        }
        
        .modal-lg {
            max-width: 900px !important;
            width: 100% !important;
        }
        
        .modal-lg .multiselect.dropdown-toggle {
            margin: 0 !important;
            width: 227px !important;
        }
        
        .modal-lg .doubleselect .multiselect.dropdown-toggle {
            margin: 0 !important;
            max-width: 100px;
            width: 100%;
        }
        
        .input-group[class*="col-"] {
            float: left;
        }
        
        .help-block {
            padding-left: 35%;
        }
    </style>