
/*new horizontal menu for 5 star concept added by vinu*/

/*
Script Author: www.saptarang.org
Description: Navigation Drop Down Menu using jquery and css.
Date: 20 August 2011.
*/

/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    background: transparent;
    vertical-align: baseline;
}*/

body {
    font: 13px/20px Arial, Verdana, Tahoma;
    color: #333;
    margin: 0 0 0 0;
    /*background-image: url('../images/top_bg_01.jpg');*/
    background-repeat: no-repeat;
}

a:focus, input:focus {
    outline: none;
}

a {
    color: #06C;
    text-decoration: none;
}

.clear {
    clear: both;
}

schresconnew {
    background-color: aquamarine;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,#FFC66A 0%, #EBF7B6 15%,#FFC66A 320%,#EBF7B6 100%); /* FF3.6+ */ /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */ /*background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */ /*background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */ /*background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */ /*background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC66A', endColorstr='#EBF7B6',GradientType=0 ); /* IE6-9 */
}
.schresconold {
    background-color: aquamarine;
    background-position: 0% 0%;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    /* Old browsers */
   background-image: linear-gradient(rgba( 51, 153, 136, 1),rgba( 243, 242, 241, 1));

    background-color: #ffffff;
    background-repeat: repeat;
    background-attachment: scroll;
}


.schresconoldnew {
    background-color: aquamarine;
    background-position: 0% 0%;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    /* Old browsers */
background-image: linear-gradient(rgba( 16, 58, 249, 1),rgba( 230, 234, 230, 1));    background-color: #ffffff;
    background-repeat: repeat;
    background-attachment: scroll;
}


#menu-wrapper-stra {
    display: block;
    width: 900px;
    margin: -2px auto;
    background: #fff url(../images/menu-bg-5star.png) repeat-x 0px 0px scroll;
    /*border-bottom: 1px solid #480EF7;*/
    /*border-top: 1px solid #480EF7; /* #cccdcf */
    margin-bottom: 20px;
}

    #menu-wrapper-stra ul {
        display: block;
        list-style: none;
    }

    #menu-wrapper-stra li {
        display: block;
        position: relative;
        float: left;
        border-right: 1px solid #cccdcf;
    }

        #menu-wrapper-stra li a:link, #menu-wrapper-stra li a:visited {
            display: inline-block;
            padding: 7px 15px;
            color: #ffffff; /* #424243 */
            font-weight: bold;
            text-shadow: #f5f6f8 0px 0px 0px; /* #f5f6f8 0px 1px 0px; */
            text-align: left;
        }

        #menu-wrapper-stra li a:hover, #menu-wrapper-stra li.active a, #menu-wrapper-stra li:hover a {
            background: url(../images/menu-bg-5star.png) repeat-x 0px -35px scroll;
            color: #7B0EF7;
            text-shadow: #f5f6f8 0px 1px 0px;
            border-left: 1px solid #cccdcf;
            border-right: 0px solid #cccdcf;
        }

        #menu-wrapper-stra li a:focus, #menu-wrapper-stra li a:active {
            background: url(../images/menu-bg-5star.png) repeat-x 0px -70px scroll;
            color: #fff;
            text-shadow: #f5f6f8 0px 1px 0px;
            border: #4b4b4d 1px solid;
            border-style: none solid none solid;
            padding: 7px 14px;
        }
        
#menu-wrapper2-stra {
    display: block;
    width: 900px;
    margin: -2px auto;
    background: #fff url(../images/menu-bg-5star.png) repeat-x 0px 0px scroll;
    /*border-bottom: 1px solid #480EF7;*/
    /*border-top: 1px solid #480EF7; /* #cccdcf */
    margin-bottom: 20px;
}

    #menu-wrapper2-stra ul {
        display: block;
        list-style: none;
    }

    #menu-wrapper2-stra li {
        display: block;
        position: relative;
        float: left;
        border-right: 1px solid #cccdcf;
    }

        #menu-wrapper2-stra li a:link, #menu-wrapper2-stra li a:visited {
            display: inline-block;
            padding: 7px 15px;
            color: #ffffff; /* #424243 */
            font-weight: bold;
            text-shadow: #f5f6f8 0px 0px 0px; /* #f5f6f8 0px 1px 0px; */
            text-align: left;
        }

        #menu-wrapper2-stra li a:hover, #menu-wrapper2-stra li.active a, #menu-wrapper2-stra li:hover a {
            background: url(../images/menu-bg-5star.png) repeat-x 0px -35px scroll;
            color: #7B0EF7;
            text-shadow: #f5f6f8 0px 1px 0px;
            border-left: 1px solid #cccdcf;
            border-right: 0px solid #cccdcf;
        }

        #menu-wrapper2-stra li a:focus, #menu-wrapper2-stra li a:active {
            background: url(../images/menu-bg-5star.png) repeat-x 0px -70px scroll;
            color: #fff;
            text-shadow: #f5f6f8 0px 1px 0px;
            border: #4b4b4d 1px solid;
            border-style: none solid none solid;
            padding: 7px 14px;
        }

.haschild > a {
    background-image: url(../images/submenu-arrow.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
}

/* -------------  Submenu  ---------  */

#menu-wrapper-stra li ul {
    position: absolute;
    border: #dadcdf 1px solid;
    border-style: none solid solid solid;
    left: 0px;
    top: 34px;
    display: none;
    z-index: 10000;
}

#menu-wrapper-stra ul li ul.submenu li {
    width: 265px;
    display: block;
    margin: 0 0 0 -42px;
}

    #menu-wrapper-stra ul li ul.submenu li a, #menu-wrapper-stra ul li ul.submenu li:hover li a {
        background: #ececec;
        color: #7B0EF7;
        text-shadow: #f5f6f8 0px 1px 0px;
        border-top: #c3c3c3 1px dotted; /* border-bottom: #cccdcf 1px dotted; */
        display: block;
    }

    #menu-wrapper-stra ul li ul.submenu li li a:hover, #menu-wrapper-stra ul li ul.submenu li:hover a {
        background: url("../images/menu-bg-5star.png") repeat-x scroll 0 0 #F97304;
        text-shadow: 0 0 0 #F5F6F8;
    }

/* ------------- Level 2  ---------------------- */

#menu-wrapper-stra li li ul {
    position: absolute;
    border: #dadcdf 1px solid;
    border-style: none solid solid solid;
    left: 250px;
    top: 0px;
    display: none;
    z-index: 10000;
}


/* -------------  Submenu  ---------  */

#menu-wrapper2-stra li ul {
    position: absolute;
    border: #dadcdf 1px solid;
    border-style: none solid solid solid;
    left: 0px;
    top: 34px;
    display: none;
    z-index: 10000;
}

#menu-wrapper2-stra ul li ul.submenu li {
    width: 265px;
    display: block;
    margin: 0 0 0 -42px;
}

    #menu-wrapper2-stra ul li ul.submenu li a, #menu-wrapper2-stra ul li ul.submenu li:hover li a {
        background: #ececec;
        color: #7B0EF7;
        text-shadow: #f5f6f8 0px 1px 0px;
        border-top: #c3c3c3 1px dotted; /* border-bottom: #cccdcf 1px dotted; */
        display: block;
    }

    #menu-wrapper2-stra ul li ul.submenu li li a:hover, #menu-wrapper2-stra ul li ul.submenu li:hover a {
        background: url("../images/menu-bg-5star.png") repeat-x scroll 0 0 #F97304;
        text-shadow: 0 0 0 #F5F6F8;
    }

/* ------------- Level 2  ---------------------- */

#menu-wrapper2-stra li li ul {
    position: absolute;
    border: #dadcdf 1px solid;
    border-style: none solid solid solid;
    left: 250px;
    top: 0px;
    display: none;
    z-index: 10000;
}
/*new horizontal menu css ended*/
 
        
/* Horizontal Menu Styles Ends */

/*Slide Show CSS --Starts*/

.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 900px;
    padding: 20px 20px;

/*background-image: linear-gradient(rgba( 255, 69, 0, 1),rgba( 255, 69, 0, 1));*/
 /*background-image: linear-gradient(rgba( 59, 93, 245, 1),rgba( 59, 93, 245, 1));*/
  background-color: #ECD672;




}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 260px;
    padding: 20px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 390px; /*background-color:#e1e2e4; */
    height: 530px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../Images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: transparent url(../Images/prev-horizontal.png) no-repeat 0 0;
      background-image: linear-gradient(rgba( 51, 153, 136, 1),rgba( 243, 242, 241, 1));
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
    background: transparent url(../Images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../Images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../Images/next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
    background: transparent url(../Images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */

.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../Images/next-vertical.png) no-repeat 0 0;
}

    .jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus {
        background-position: 0 -32px;
    }

    .jcarousel-skin-tango .jcarousel-next-vertical:active {
        background-position: 0 -64px;
    }

.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../Images/prev-vertical.png) no-repeat 0 0;
}

    .jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
        background-position: 0 -32px;
    }

    .jcarousel-skin-tango .jcarousel-prev-vertical:active {
        background-position: 0 -64px;
    }

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/*Slide Show CSS --Ends*/

   

