body {
    /*background-color:#e2db85;*/
}

.fathername {
}

.table {
    /*margin-left:320px;*/
    margin-left: 50px;
    margin-top: 0px;
    width: 500px;
    height:80px;
    /*border:1px solid black;*/
}

.table2 {
    /*margin-left:320px;*/
    /*margin-top:80px;*/
    width: 570px;
    height: 100px;
    margin-left: 0px;
}

.btnsub {
    margin-left: 230px;
}

.watermarked {
    height: 25px;
    width: 135px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: Gray;
}

.fixed {
    position: fixed;
    top: 0;
    float: right;
    right: 109px;
}

.fixed1 {
    position: fixed;
    top: 50px;
    /*left:20px;*/
    float: right;
    /*left: 150px;*/
}

.div {
    float: left;
    margin-left:0px;
    border: 1px solid #da3139;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.divfooter {
    /*float: left;*/
    /*margin-left: 30px;*/
    /*border: 1px solid black;*/
    margin-top: 30px;
}

.divscroll1 {
    margin-top: 100px;
    /*float: left;*/
    margin-left: 0px;
    text-align: center;
}

.divscroll {
    margin-top: 200px;
    float: left;
    margin-left: 30px;
}

.txtboxes {
    height: 25px;
    width: 100px;
    text-align: center;
    background-color: #da3139;
    color: white;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.txtboxeswat {
    height: 25px;
    width: auto;
    border: 1px solid #eab9b9;
}

.h2 {
    font-size: 40px;
    color: blue;
    margin-left: 420px;
    margin-top: 10px;
}

.label {
    display: none;
}

.h1 {
    margin-left: 200px;
    font-size: 25px;
    color: #1b978c;
    margin-top: 5px;
    /*padding-top:80px;*/
}

.span {
    border: 1px solid #2a97e0;
}

.btnsscroll {
    margin-left: 273px;
    position: fixed;
    margin-top: 40px;
    background-color: #da3139;
    border: 0.5px solid white;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 60px;
    text-align: center;
    /*top: 80px;*/
    left:16px;
}
.btns1 {
     background-color: #da3139;
    border: 1px solid white;
      width:80px;
    text-align: center;
     color: white;
     border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
     height:40px;
     margin-top:30%;
     margin-left:225px;
     /*position: fixed;*/
}
/*.btns2 {
     background-color: #da3139;
    border: 1px solid white;
      width:80px;
    text-align: center;
     color: white;
     border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
     height:40px;
     margin-top:30%;
     margin-left:22px;
}*/
.btnsscroll1 {
    margin-left: 480px;
    position: fixed;
    margin-top: 40px;
    background-color: #da3139;
    border: 0.5px solid white;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 60px;
    text-align: center;
}

.btns {
    width: 100px;
    float: right;
    margin-top: 200px;
    margin-right:210px;
    height: 60px;
}

.footerissticky {
    position: fixed;
    bottom: 0px;
    width: 870px;
}

.footer {
    /*border:1px solid black;*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #2a97e0;
    height: 100px;
    margin-top: 40px;
    left: 0px;
}
.focus {
    border: 2px solid #AA88FF;
    background-color: #FFEEAA;
   
}
.focus1 {
    border: 2px solid #AA88FF;
    background-color: #FFEEAA;
    height:25px;
}
.mainscrolldiv {
    position: fixed;
}
  /*.nav {
            bottom: 9%;
            right: 2.5%;
            position: absolute;
            margin-right: -41px;
        }*/
.nav {
    position: fixed;
    right:92px;
    bottom: 5px;
    top:23%;
    height: 820px;
}

#navlist, #navlist li {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #navlist li {
        margin-bottom: -14px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 11px;
    }

        #navlist li a {
            padding-bottom:0px;
            padding-left: 20px;
            padding-right: 0px;
            padding-top:1%;
        }

.Scrollgrid {
    float: left;
    overflow: auto;
    border-left: #000000 1px;
    width: 600px;
    border: #000000 1px;
    height: 680px;
    /*scrollbar-3d-light-color:#999999;
    scrollbar-arrow-color: #9C3842;
    scrollbar-base-color: #003366;
    scrollbar-dark-shadow-color: #9C3842;
    scrollbar-face-color: #e7e7e7;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #9C3842;*/
}

.FixedHeightContainer {
    float: right;
    padding: 3px;
    background: #f00;
    /*height:224px;*/
    overflow: auto;
    background: #fff;
}

.autocomplete_completionListElement {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-bottom-color: buttonshadow;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: buttonshadow;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: buttonshadow;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: buttonshadow;
    border-top-style: solid;
    border-top-width: 1px;
    color: windowtext;
    height: auto;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: auto;
    overflow-y: auto;
    text-align: left;
    visibility: hidden;
    width: 160px;
}

.autocomplete_listItem {
    background-color: #efefef;
    color: windowtext;
    line-height: 20px;
    margin-left: -40px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.autocomplete_highlightedListItem {
    color: #3f89c3;
    line-height: 20px;
    margin-left: -40px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
.linktable {
    width:800px;
    height:64px;
}
.linktable  a { 
          font-size:larger;
          
        }
.clsbtn {
    float: right;
    width: 23px;
    height: 23px;
    margin-right: 5px;
}
.linkbtns {
    height:68px;
    /*border:1px solid #da3139;*/
    width:auto;
    margin-top:20px;
    margin-bottom:20px;
}
.gridview {
    float: right;
    margin-right: -450px;
    margin-top: 0px;
}
.gridview2 {
     float: right;
    margin-right:-10px;
    margin-top:22px;
}
.plusbtn {
    background-color: #da3139;
    color: white;
    float: left;
    font-size: 30px;
    height: 50px;
    margin-left: 43px;
    margin-top: 59px;
    width: 50px;
   
}
.scrollbtncl {
    float: right;
    margin-right: 330px;
    margin-top: 0px;
    width: 50px;
}
.gridview1 {
    margin-left:30px;
    margin-top: 169px;
}

