<div>
    <br />
    <div class="row col-lg-offset-2" id="divtextinput">
        <div class="col-lg-6">
            <div class="col-lg-3" id="divLProfileid">
                <label id="lblpto" Text="Profileid" ForeColor="Black" Font-Size="16px" Font-Bold="true"></label>
            </div>
            <div class="col-lg-5" id="divProfileid">
                <input id="txtprofile" Height="34px" maxlength="12" class="form-control"></input>
            </div>
            <div class="col-lg-2" id="divsubmit">
                <button id="btnsubmit" class="btn btn-success">View Profile</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-6" id="divbtninbit">
                <button id="btnInbit" class="btn btn-info">For Inbit</button>
            </div>
            <div class="col-lg-6">
                <input type="button" value="Print" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
<div id="printablediv">
    <div id="PageDiv" class="profile_full_main">
        <div id="divacceptreject" style="border: solid 1px #fff;">
            <div id="upAll">

                <div class="row">
                    <div class="col-lg-3">
                        <h2 style="color: rgb(92, 82, 82);">Kaakateeya Marriages</h2>
                    </div>
                    <div id="updateContentssa">

                        <div id="liproceed" class="profile_full_header_in_ui clearfix" style="display:none;">

                            <a id="btnProceed" href="javascript:void(0)">Proceed</a>

                            <a id="btnDontProceed" href="javascript:void(0)">Don't Proceed</a>
                        </div>

                    </div>
                    <div id="liaccept" class="profile_full_header_in_ui clearfix" style="display: none;">
                        <div id="UpdatePanel6">

                            <a id="btnaccept" href="javascript:void(0)">Accept</a>
                            <a id="btnreject" href="javascript:void(0)">Reject</a>
                            <span id="lblpaid" style="display: none;">Paid</span>

                        </div>
                        <span id="hdnexpressinterstfiled" style="display: none;">1549574</span>

                    </div>
                    <div id="liticket" class="profile_full_header_in_ui clearfix" style="display:block;">
                        <a id="btnticket" class="aspNetDisabled">KAKHD932611</a>
                    </div>
                    <div id="logidliproceed" class="profile_full_header_in_ui clearfix" style="display: none;">

                        <a id="lnklogaccept" href="javascript:void(0);">Proceed</a>

                        <a id="lnklogSkipped" href="javascript:void(0);">Skip This Profile</a>

                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <div id="divProfile" class="profile_full_header clearfix">



            <div class="row">
                <div class="col-lg-2">
                    <div id="UpdateImagesContent">

                        <div id="divmask" class="profile_full_header_pic">
                            <input type="image" name="piProfilePic" id="iProfilePic" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_71891_Images/Img1_Images/110718915_ApplicationPhoto.jpg" style="height:150px;width:150px;">
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="profile_full_header_in">
                        <h6>
                            <span id="lblName">C SARAVANAN</span>
                            <span>
                                <span id="lblonlychild" style="font-weight:bold;">-  Only Child  </span>
                            <span id="lblProfileids">  (Profile id:110718915)</span>


                            </span>
                        </h6>


                        <p>

                        </p>
                        <p>
                            <span id="lblDescMy" class="fontsize" style="width: 750px;"></span>
                        </p>


                    </div>
                </div>
                <div class="col-lg-2">

                    <input type="image" name="imghoroscope" id="imghoroscope" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/HoroscopeImages/71891_HaroscopeImage/71891_HaroscopeImage.jpg" style="height:160px;width:150px;">

                </div>
            </div>
        </div>
        <div id="bighoro" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Horoscope</h4>
                    </div>
                    <div class="modal-body">
                        <div class="bs-example">
                            <div id="UpdatePanel5">

                                <img id="imghorobigimage" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/HoroscopeImages/71891_HaroscopeImage/71891_HaroscopeImage.jpg" style="height: 500px; width: 500px;">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="btncancel" value="Cancel" id="btncancel" class="button_custom button_custom_reset" data-dismiss="modal">
                    </div>
                </div>

            </div>
        </div>
        <div id="printdiv">
            <div class="personal_inform_main">
                <div id="Div1" class="personal_inform_main_in">
                    <h4>about my
                        <label id="lblRelation">daughter</label>
                    </h4>
                    <p>
                        <label id="lblDesc"></label>
                    </p>
                </div>
                <div id="outRepeater_ctl00_divmain" class="personal_inform_head clearfix" style="background-color: rgb(244, 182, 36); padding: 6px 10px; border-bottom: solid 1px #ccc;" ng-if="item.header=='Headings' || item.header=='About' || item.header=='Primary'?'':item.header">
                    <h6>
                        <span id="outRepeater_ctl00_lblHeadings" class="lblHeadings" style="color: black;">{{item.header}}</span></h6>
                </div>
                <div id="outRepeater_ctl00_divsub" class="personal_inform_main_in">
                    <div id="outRepeater_ctl00_divStyle" class="personal_inform_main_in_list clearfix">
                        <p ng-repeat="itm in item.value">
                            <span id="outRepeater_ctl00_innerRepeater_ctl00_lblContentName" class="lblContentName" style="color:Black;font-weight:bold;">NAME</span>
                            <span>
                           <span id="lblTextName" style="color:DarkBlue;"> <span ng-if="itm.columnname!='' && itm.columnname!=null">:</span>
                            <span ng-bind-html="itm.value || itm.Value"></span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>