<style type="text/css">
    .ValueContains {
        margin: 0 !important;
        background-color: #f0f0cc !important;
        /*border-color:green !important;*/
    }
    
    .has-error .control-label {
        color: #a94442 !important;
    }
    
    .has-error .form-control {
        color: #a94442 !important;
        border-color: #a94442 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    
    .has-success .control-label {
        color: green !important;
    }
    
    .has-success .form-control {
        color: green !important;
        border-color: green !important;
        box-shadow: inset 0 1px 1px green;
    }
    
    select {
        width: 100px;
        height: 34px;
        margin-bottom: 10px;
    }
    
    .colorloading {
        color: black;
        margin-top: 10px;
    }
    
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        /*min-height: 248px*/
        min-height: 500px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input,
    .fileupload-new .input-append .btn-file {
        border: none !important;
    }
    
    .select-box-my label {
        text-transform: capitalize;
        color: #000 !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
</style>
<div class="search_page_main" ng-init="pageload()">
    <div class="search_page_tabs profile_settings_tabs">
        <div class="sample" layout="column" ng-cloak>
            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" flex md-border-bottom md-autoselect>
                    <md-tab label="General Search" ui-sref="General">
                        <div class="tab">
                            <div class="profile_search_main profile_settings_main clearfix">
                                <div class="row">
                                    <div layout-gt-sm="row">
                                        <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                            <md-radio-button value="1"> Groom </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="control-group span3 select-box-my select-box-my-double">
                                        <label class="control-label">Age</label>
                                        <div class="controls clearfix row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="AgeFrom" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="Ageto" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my select-box-my-double">
                                        <label class="control-label">Height</label>
                                        <div class="controls clearfix row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="HeightFrom" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="Heightto" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Marital status</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Education</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Country living in</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Religion</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Mother tongue</label>
                                        <div class="controls clearfix">
                                            <md-input-container>
                                                <md-select ng-model="selectedVegetables" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a vegetable.." class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="vegetables">
                                                        <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                                             filter:searchTerm">{{vegetable}}</md-option>

                                                    </md-optgroup>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Caste</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3" ng-hide="true">
                                        <label class="control-label">Caste</label>
                                        <div class="controls clearfix">
                                            <md-input-container class="md-block">
                                                <label>REddy</label>
                                                <label id="lblCastids" style="font-weight: bold; display: none;">404,404</label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div layout-gt-sm="row">
                                                <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                    Registration days :&nbsp;&nbsp;&nbsp;
                                                    <md-radio-button value="0" class="md-primary"> All</md-radio-button>
                                                    <md-radio-button value="15"> 15days </md-radio-button>
                                                    <md-radio-button value="30"> 15days </md-radio-button>
                                                    <md-radio-button value="45"> 15days </md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p id="editpartnerpref" style="display: block;">To include other castes in your search, please update “caste” in “partner preference”.<a id="lnkEdit" style="font-weight: bold; text-decoration: underline; margin-left: 0px;" onclick="return Editpartnerpreference();"
                                            href="javascript:void(0);">Edit partner preference</a></p>
                                    <button id="btnSaveAdvancesearch" class="button_custom">Search</button>
                                    <button id="btnReset" class="button_custom button_custom_reset">Reset</button>
                                    <button id="btnSavesearch" class="button_custom">Save&amp;Search</button>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Advanced Search" ui-sref="Advanced">
                        <div class="tab">
                            <div class="profile_search_main profile_settings_main clearfix">
                                <div class="row">
                                    <div layout-gt-sm="row">
                                        <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                            <md-radio-button value="1"> Groom </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="control-group span3 select-box-my select-box-my-double">
                                        <label class="control-label">Age</label>
                                        <div class="controls clearfix row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="AgeFrom" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="Ageto" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my select-box-my-double">
                                        <label class="control-label">Height</label>
                                        <div class="controls clearfix row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="HeightFrom" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <md-select placeholder="Heightto" ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Marital status</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Religion</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>

                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Mother tongue</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Caste</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3" ng-hide="true">
                                        <label class="control-label">Caste</label>
                                        <div class="controls clearfix">
                                            <md-input-container class="md-block">
                                                <label>REddy</label>
                                                <label id="lblCastids" style="font-weight: bold; display: none;">404,404</label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="control-group">
                                        <label class="control-label control-label-marg">Physical status</label>
                                        <div class="controls">
                                            <div layout-gt-sm="row">
                                                <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                    <md-radio-button value="25" class="md-primary"> Normal</md-radio-button>
                                                    <md-radio-button value="26"> Physically Challenged </md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                </div>
                                <div class="clearfix"></div>
                                <div class="search_advance_block1">
                                    <h4>CURRENT LOCATION</h4>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Country living in</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">State</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my" id="divVisastatus">
                                        <label class="control-label">Visa status</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="search_advance_block1">
                                    <h4>Educational and professional details</h4>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Education category</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>

                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Education</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Profession group</label>
                                        <div class="controls clearfix">
                                            <md-select ng-model="user">
                                                <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my  select-box-my-trible select-box-my-trible2 clearfix">
                                        <label class="control-label">Monthly  income</label>
                                        <div class="controls clearfix row">
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <md-select ng-model="user.state">
                                                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                            {{state.abbrev}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>from</label>
                                                    <input ng-model="user.city">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>to</label>
                                                    <input name="postalCode" ng-model="user.postalCode">
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="search_advance_block1">
                                    <h4>Astro details</h4>
                                    <div class="control-group radio-group-my pull-left">
                                        <label class="control-label control-label-marg">Manglink / Kuja dosham&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <div class="controls">
                                            <div layout-gt-sm="row">
                                                <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                    <md-radio-button value="0" class="md-primary"> Yes</md-radio-button>
                                                    <md-radio-button value="1"> No </md-radio-button>
                                                    <md-radio-button value=""> Doesn't Matter </md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group radio-group-my pull-left">
                                        <label class="control-label control-label-marg"> Star language &nbsp;&nbsp;</label>
                                        <div class="controls">
                                            <div layout-gt-sm="row">
                                                <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                    <md-radio-button value="1" class="md-primary"> Telugu</md-radio-button>
                                                    <md-radio-button value="2"> Tamil </md-radio-button>
                                                    <md-radio-button value="3">Kannada </md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group span4 select-box-my">
                                        <label class="control-label">Star</label>
                                        <div class="controls clearfix">
                                            <div layout-gt-sm="row">
                                                <md-select ng-model="user">
                                                    <md-option ng-value="user" ng-repeat="user in users">--select--</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="search_advance_block1">
                                    <h4>Habits</h4>
                                    <div layout-gt-sm="row">
                                        <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            Diet : &nbsp;&nbsp;
                                            <md-radio-button value="1" class="md-primary"> Veg</md-radio-button>
                                            <md-radio-button value="2"> Non Veg </md-radio-button>
                                            <md-radio-button value="">Both </md-radio-button>
                                        </md-radio-group>
                                        <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            Registration days :&nbsp;&nbsp;&nbsp;
                                            <md-radio-button value="0" class="md-primary"> All</md-radio-button>
                                            <md-radio-button value="15"> 15days </md-radio-button>
                                            <md-radio-button value="30"> 15days </md-radio-button>
                                            <md-radio-button value="45"> 15days </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                                <p id="editpartnerpref" style="display: block;">To include other castes in your search, please update “caste” in “partner preference”.<a id="lnkEdit" style="font-weight: bold; text-decoration: underline; margin-left: 0px;" onclick="return Editpartnerpreference();" href="javascript:void(0);">Edit partner preference</a></p>
                                <button id="btnSaveAdvancesearch" class="button_custom">Search</button>
                                <button id="btnReset" class="button_custom button_custom_reset">Reset</button>
                                <button id="btnSavesearch" class="button_custom">Save&amp;Search</button>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="profileid Search" ui-sref="profilidsrch">
                        <div class="tab">
                            <div class="profile_search_main profile_settings_main clearfix">
                                <div class="row">
                                    <div layout-gt-sm="row">
                                        <md-radio-group layout="row" ng-model="mailyes" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                            <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                            <md-radio-button value="1"> Groom </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <br>
                                <div layout="row">
                                    <div class="span4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Profile id</label>
                                            <input ng-model="user.city">
                                        </md-input-container>
                                    </div>
                                    <div class="span4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>First name</label>
                                            <input ng-model="user.city">
                                        </md-input-container>
                                    </div>
                                    <div class="span4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Last name</label>
                                            <input ng-model="user.city">
                                        </md-input-container>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <button id="btnSaveAdvancesearch" class="button_custom" onclick="return SubmitAdvance();">Search</button>
                                <button id="btnReset" class="button_custom button_custom_reset" style="display: none;">Reset</button>
                                <div id="Div1" style="display: none;">
                                    <button id="btnSavesearch" class="button_custom" style="display: none;">Update</button>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Saved Search" ui-sref="savedsearch">
                        <div class="tab">
                            <div class="search_fields general_fields clearfix">
                                <div class="profile_search_main saved_search_main  clearfix">
                                    <div class="span4 clearfix">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Search by ID</label>
                                                <input ng-model="user.city">
                                                <button class="button_custom">SEARCH</button>
                                            </md-input-container>
                                        </div>

                                    </div>
                                    <div class="saved_search_list">
                                        <div class="saved_search_list_item">
                                            <h4><span id="Label1">testing</span><span style="display:none;">3764</span> <span style="display:none;">91022</span> <span style="display:none;">2</span><span style="display:none;">Generalsearch</span></h4>
                                            <div class="saved_search_list_ui clearfix"><a href="javascript:void(0)">Search</a><a href="javascript:void(0)">Edit</a>
                                                <a href="javascript:void(0)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>