<style type="text/css">
    .ValueContains {
        margin: 0 !important;
        background-color: #f0f0cc !important;
        /*border-color:green !important;*/
    }
    
    .has-error .control-label {
        color: #a94442 !important;
    }
    
    .has-error .form-control {
        color: #a94442 !important;
        border-color: #a94442 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    
    .has-success .control-label {
        color: green !important;
    }
    
    .has-success .form-control {
        color: green !important;
        border-color: green !important;
        box-shadow: inset 0 1px 1px green;
    }
    
    select {
        width: 100px;
        height: 34px;
        margin-bottom: 10px;
    }
    
    .colorloading {
        color: black;
        margin-top: 10px;
    }
    
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        /*min-height: 248px*/
        min-height: 600px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input,
    .fileupload-new .input-append .btn-file {
        border: none !important;
    }
    
    .select-box-my label {
        text-transform: capitalize;
        color: #000 !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .selectborderclass {
        border: 1px solid #b1a8a8;
        border-radius: 3px;
        padding-left: 4px;
    }
    
    .selectborderclasscolor {
        border: 1px solid #b1a8a8;
        border-radius: 3px;
        padding-left: 4px;
        background: #f0f0cc !important;
    }
    
    .margintopclass {
        margin-top: -10px;
    }
    
    body {
        line-height: 1.0 !important;
    }
    
    .lnkdisplay {
        display: none;
    }
    
    .textboxcolor {
        border: 1px solid #b1a8a8;
    }
</style>

<div class="search_page_main" ng-show="showcontrols" ng-init="generalpageload()">
    <div class="search_page_tabs profile_settings_tabs">
        <div class="sample" layout="column" ng-cloak>
            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" md-dynamic-height flex md-border-bottom md-autoselect>
                    <md-tab label="General Search">
                        <div class="tab">
                            <form name="generalsearch" role="form">
                                <div class="profile_search_main profile_settings_main clearfix">
                                    <div class="row" ng-hide="genderdiabled">
                                        <div layout-gt-sm="row">
                                            <md-radio-group layout="row" ng-model="gender" class="md-block" flex-gt-sm>
                                                <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                                <md-radio-button value="1"> Groom </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="control-group span3 select-box-my select-box-my-double">
                                            <label class="control-label">Age</label>
                                            <div class="controls clearfix row margintopclass">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                    <md-select placeholder="AgeFrom" ng-model="AgeFrom" ng-class="applycolors(AgeFrom)">
                                                        <md-option ng-value="Age.value" ng-repeat="Age in arrayAge">{{Age.label}} </md-option>
                                                    </md-select>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="margin-left: -20px;">
                                                    <md-select placeholder="Ageto" ng-model="Ageto" ng-class="applycolors(Ageto)">
                                                        <md-option ng-value="Age.value" ng-repeat="Age in arrayAge">{{Age.label}} </md-option>
                                                    </md-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my select-box-my-double">
                                            <label class="control-label">Height</label>
                                            <div class="controls clearfix row margintopclass">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                    <md-select placeholder="HeightFrom" ng-model="HeightFrom" ng-class="applycolors(HeightFrom)">
                                                        <md-option ng-value="h.value" ng-repeat="h in height">{{h.label}} </md-option>
                                                    </md-select>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="margin-left: -20px;">
                                                    <md-select placeholder="Heightto" ng-model="Heightto" ng-class="applycolors(Heightto)">
                                                        <md-option ng-value="h.value" ng-repeat="h in height">{{h.label}} </md-option>
                                                    </md-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Marital status</label>
                                            <div class="controls clearfix margintopclass">
                                                <angular-multiselect array="MaritalStatus" change="true" model="maritalstatus">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Education</label>
                                            <div class="controls clearfix margintopclass">
                                                <angular-multiselect array="educationcategory" change="true" model="educationcat">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Country living in</label>
                                            <div class="controls clearfix margintopclass">
                                                <angular-multiselect array="Country" change="true" model="country">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">

                                            <label class="control-label">Religion</label>
                                            <div class="controls clearfix margintopclass">
                                                <md-select ng-model="religion" placeholder="Religion" style="width: 252px;" ng-change="changeBindsearhes('caste',religion,mothertongue)" ng-class="applycolors(religion)">
                                                    <md-option ng-value="religions.value" ng-repeat="religions in Religion">{{religions.label}}</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Mother tongue</label>
                                            <div class="controls clearfix margintopclass">
                                                <angular-multiselect array="Mothertongue" type="'caste'" model="mothertongue">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my" ng-hide="casteshow===true?false:true">
                                            <label class="control-label">Caste</label>
                                            <div class="controls clearfix margintopclass">
                                                <angular-multiselect array="Caste" castehideval="castehid" change="true" model="caste" ng-click="checkCasteParents()">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3" ng-hide="casteshow">
                                            <label class="control-label">Caste</label>
                                            <div class="controls clearfix margintopclass">
                                                <md-input-container class="md-block">
                                                    <label>{{castetext}}</label>
                                                    <label style="font-weight: bold; display: none;">{{caste}}</label>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="control-group" ng-show="getpaidstatus==='1'?true:false">
                                            <div class="controls">
                                                <div layout-gt-sm="row">
                                                    <md-radio-group layout="row" ng-model="regdays" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                        Registration days :&nbsp;&nbsp;&nbsp;
                                                        <md-radio-button value="0" class="md-primary"> All</md-radio-button>
                                                        <md-radio-button value="15"> 15days </md-radio-button>
                                                        <md-radio-button value="30"> 15days </md-radio-button>
                                                        <md-radio-button value="45"> 15days </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p ng-show="custid!==null?true:false">To include other castes in your search, please update “caste” in “partner preference”.<a id="lnkEdit" style="font-weight: bold; text-decoration: underline; margin-left: 0px;" href="#/editview/editPartnerPreferences">Edit partner preference</a></p>
                                        <md-button class="md-raised md-warn md-hue-2" ng-click="generalsearchsubmit('general',1,8)">Search</md-button>
                                        <md-button class="md-raised md-hue-1" ng-click="resetgenral('general')">Reset</md-button>
                                        <md-button class="md-raised md-warn md-hue-2" ng-show="getpaidstatus==='1'?true:false" ng-click="savedseapopup('general')">Save&Search</md-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-tab>
                    <md-tab label="Advanced Search">
                        <div class="tab">
                            <form name="advancedsearch" role="form">
                                <div class="profile_search_main profile_settings_main clearfix">
                                    <div class="row" ng-hide="genderdiabled">
                                        <div layout-gt-sm="row">
                                            <md-radio-group layout="row" ng-model="gender" class="md-block" flex-gt-sm>
                                                <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                                <md-radio-button value="1"> Groom </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="control-group span3 select-box-my select-box-my-double">
                                            <label class="control-label">Age</label>
                                            <div class="controls clearfix row">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                    <md-select placeholder="AgeFrom" ng-model="AgeFrom" ng-class="applycolors(AgeFrom)">
                                                        <md-option ng-value="Age.value" ng-repeat="Age in arrayAge">{{Age.label}} </md-option>
                                                    </md-select>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="margin-left: -20px;">
                                                    <md-select placeholder="Ageto" ng-model="Ageto" ng-class="applycolors(Ageto)">
                                                        <md-option ng-value="Age.value" ng-repeat="Age in arrayAge">{{Age.label}} </md-option>
                                                    </md-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my select-box-my-double">
                                            <label class="control-label">Height</label>
                                            <div class="controls clearfix row">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                    <md-select placeholder="HeightFrom" ng-model="HeightFrom" ng-class="applycolors(HeightFrom)">
                                                        <md-option ng-value="h.value" ng-repeat="h in height">{{h.label}} </md-option>
                                                    </md-select>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="margin-left: -20px;">
                                                    <md-select placeholder="Heightto" ng-model="Heightto" ng-class="applycolors(Heightto)">
                                                        <md-option ng-value="h.value" ng-repeat="h in height">{{h.label}} </md-option>
                                                    </md-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Marital status</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="MaritalStatus" change="true" model="maritalstatus">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Religion</label>
                                            <div class="controls clearfix">
                                                <md-select ng-model="religion" placeholder="Religion" ng-change="changeBindsearhes('caste',religion,mothertongue)" ng-class="applycolors(religion)">
                                                    <md-option ng-value="religions.value" ng-repeat="religions in Religion">{{religions.label}}</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Mother tongue</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="Mothertongue" type="'caste'" model="mothertongue">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my" ng-hide="casteshow===true?false:true">
                                            <label class="control-label">Caste</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="Caste" castehideval="castehid" change="true" model="caste" ng-click="checkCasteParents()">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3" ng-hide="casteshow">
                                            <label class="control-label">Caste</label>
                                            <div class="controls clearfix">
                                                <md-input-container class="md-block">
                                                    <label>{{castetext}}</label>
                                                    <label style="font-weight: bold; display: none;">{{caste}}</label>

                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div class="control-group span3">
                                            <label class="control-label control-label-marg">Physical status</label>
                                            <div class="controls">
                                                <div layout-gt-sm="row">
                                                    <md-radio-group layout="row" ng-model="physicalstatusadvance" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                        <md-radio-button value="25" class="md-primary"> Normal</md-radio-button>
                                                        <md-radio-button value="26"> Physically Challenged </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>

                                    <h4>CURRENT LOCATION</h4>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">Country living in</label>
                                        <div class="controls clearfix">
                                            <angular-multiselect array="Country" type="'Country'" model="country">
                                            </angular-multiselect>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my">
                                        <label class="control-label">State</label>
                                        <div class="controls clearfix">
                                            <angular-multiselect array="State" change="true" model="stateadvance">
                                            </angular-multiselect>
                                        </div>
                                    </div>
                                    <div class="control-group span3 select-box-my" id="divVisastatus">
                                        <label class="control-label">Visa status</label>
                                        <div class="controls clearfix">
                                            <angular-multiselect array="visastatus" change="true" model="visastatusadvance">
                                            </angular-multiselect>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>


                                    <h4>Educational and professional details</h4>
                                    <div layout="row">
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Education category</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="educationcategory" type="'EducationCatgory'" model="educationcat">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Education</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="Educationgroup" change="true" model="Educationadvance">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my">
                                            <label class="control-label">Profession group</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="Professiongroup" change="true" model="Professiongroupadvance">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                        <div class="control-group span3 select-box-my  select-box-my-trible select-box-my-trible2 clearfix">
                                            <label class="control-label">Monthly  income</label>
                                            <div class="controls clearfix row">
                                                <div layout-gt-sm="row">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <md-select ng-model="monthsalcurrency" placeholder="RS" ng-class="applycolors(monthsalcurrency)">
                                                            <md-option value="0">--select--</md-option>
                                                            <md-option ng-repeat="currency in Currency track by $index" ng-value="{{currency.value}}">
                                                                {{currency.label}}
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>from</label>
                                                        <input ng-model="fromcurrency">
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>to</label>
                                                        <input name="postalCode" ng-model="tocurrency">
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>


                                    <h4>Astro details</h4>
                                    <div layout="row">
                                        <div class="control-group span4">
                                            <label class="control-label control-label-marg">Manglink / Kuja dosham&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            <div class="controls">
                                                <div layout-gt-sm="row">
                                                    <md-radio-group layout="row" ng-model="kujadosham" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                        <md-radio-button value="0" class="md-primary"> Yes</md-radio-button>
                                                        <md-radio-button value="1"> No </md-radio-button>
                                                        <md-radio-button value=""> Doesn't Matter </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span4">
                                            <label class="control-label control-label-marg"> Star language &nbsp;&nbsp;</label>
                                            <div class="controls">
                                                <div layout-gt-sm="row">
                                                    <md-radio-group layout="row" ng-model="starlanguage" class="md-block" flex-gt-sm ng-disabled="manageakerts" ng-change="changeBindsearhes('star',starlanguage)">
                                                        <md-radio-button value="1" class="md-primary"> Telugu</md-radio-button>
                                                        <md-radio-button value="2"> Tamil </md-radio-button>
                                                        <md-radio-button value="3">Kannada </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group span4 select-box-my">
                                            <label class="control-label">Star</label>
                                            <div class="controls clearfix">
                                                <angular-multiselect array="stars" change="true" model="starsadvance">
                                                </angular-multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="search_advance_block1">
                                        <h4>Habits</h4>
                                        <div layout-gt-sm="row">
                                            <md-radio-group layout="row" ng-model="diet" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                Diet : &nbsp;&nbsp;
                                                <md-radio-button value="1" class="md-primary"> Veg</md-radio-button>
                                                <md-radio-button value="2"> Non Veg </md-radio-button>
                                                <md-radio-button value="">Both </md-radio-button>
                                            </md-radio-group>
                                            <md-radio-group ng-show="getpaidstatus==='1'?true:false" layout="row" ng-model="regdays" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                                Registration days :&nbsp;&nbsp;&nbsp;
                                                <md-radio-button value="0" class="md-primary"> All</md-radio-button>
                                                <md-radio-button value="15"> 15days </md-radio-button>
                                                <md-radio-button value="30"> 15days </md-radio-button>
                                                <md-radio-button value="45"> 15days </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                    <p ng-show="custid!==null?true:false">To include other castes in your search, please update “caste” in “partner preference”.<a id="lnkEdit" style="font-weight: bold; text-decoration: underline; margin-left: 0px;" href="#/editview/editPartnerPreferences">Edit partner preference</a></p>
                                    <md-button class="md-raised md-warn md-hue-2" ng-click="generalsearchsubmit('advanced',1,8)">Search</md-button>
                                    <md-button class="md-raised md-hue-1" ng-click="resetgenral('general')">Reset</md-button>
                                    <md-button class="md-raised md-warn md-hue-2" ng-show="getpaidstatus==='1'?true:false" ng-click="savedseapopup('advanced')">Save&Search</md-button>
                                </div>
                            </form>
                        </div>
                    </md-tab>
                    <md-tab label="profileid Search">
                        <div class="tab">
                            <div class="profile_search_main profile_settings_main clearfix">
                                <form name="profileidform">
                                    <div class="row" ng-hide="genderdiabled">
                                        <div layout-gt-sm="row">
                                            <md-radio-group layout="row" ng-model="gender" class="md-block" flex-gt-sm>
                                                <md-radio-button value="2" class="md-primary"> Bride</md-radio-button>
                                                <md-radio-button value="1"> Groom </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <br>
                                    <div layout="row">
                                        <div class="span4" style="margin-right:20px;">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Profile id</label>
                                                <input ng-model="profileid" id="txtProfileid" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10">
                                            </md-input-container>
                                        </div>
                                        <div class="span4" style="margin-right:20px;">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>First name</label>
                                                <input ng-model="firstname" ng-keypress="onlyAlphabets(event)" id="txtFirstNameProfileid">
                                            </md-input-container>
                                        </div>
                                        <div class="span4">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Last name</label>
                                                <input ng-model="lastname" name="txtLastNameProfileid" ng-keypress="onlyAlphabets(event)" id="txtLastNameProfileid">
                                            </md-input-container>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>

                                    <md-button class="md-raised md-warn md-hue-2" ng-click="generalsearchsubmit('profileid',1,8)">Search</md-button>
                                    <md-button class="md-raised md-hue-1" ng-click="resetgenral('general')">Reset</md-button>
                                </form>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Saved Search" data-ng-if="savedclass">
                        <div class="tab">
                            <div class="search_fields general_fields clearfix">
                                <div class="profile_search_main saved_search_main  clearfix">
                                    <div class="span4 clearfix">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Search by ID</label>
                                                <input ng-model="txtsavesearchname" flex="50">
                                                <md-button class="md-raised md-warn md-hue-2" ng-click="savedsearchselectmethod(custid,txtsavesearchname,1);">Search</md-button>
                                            </md-input-container>
                                        </div>

                                    </div>
                                    <div class="saved_search_list">
                                        <div class="saved_search_list_item" ng-repeat="saved in savedsearchselect">
                                            <h4><span>{{saved.CustSavedSearchName}}</span></h4>
                                            <div class="saved_search_list_ui clearfix">
                                                <a href="javascript:void(0)" ng-click="gettingsavedsearcheditsearch('search',saved.SearchResult_ID,saved.SearchpageID)">Search<span class="material-icons">search</span></a>
                                                <a href="javascript:void(0)" ng-click="gettingsavedsearcheditsearch('edit',saved.SearchResult_ID,saved.SearchpageID)">Edit<i class="material-icons">mode_edit</i></a>
                                                <a href="javascript:void(0)" ng-click="savedsearchselectmethod(saved.SearchResult_ID,'',0)">Delete<i class="material-icons" >delete</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>

<div class="register_page_main clearfix" ng-hide="truepartnerrefine">
    <div class="clearfix">
        <div class="refine_search_new clearfix">
            <div class="refine_search_new_sub clearfix">
                <div class="refine_search_new_sub1 clearfix">
                    <h4>Refine <span>{{gender===2?'Bride':'Groom'}}</span></h4>
                    <div class="clear">&nbsp;</div>
                    <h6><span>Age:</span> <span id="refineAge">{{AgeFrom}} years-{{Ageto}} years</span></h6>
                    <h6><span>caste:</span><span id="refinecaste">{{castetext}}</span></h6>
                    <h6><span>education:</span> <span id="refineeducation">{{educationcategorytxt}}</span></h6>
                    <h6><span>height:</span><span id="spanrefineheight">{{HeightFromtext}}-{{Heighttotext}}</span></h6>
                </div>
                <div class="refine_search_new_sub2 clearfix">
                    <div layout="row">
                        <div class="col-lg-4">
                            <h6><span>Age</span></h6>
                            <md-slider-container flex-gt-xs>
                                <p>{{AgeFrom}}</p>
                                <md-slider flex md-discrete min="18" max="77" ng-model="AgeFrom" aria-label="Slider"></md-slider>
                                <md-slider flex md-discrete min="18" max="77" ng-model="Ageto" aria-label="Slider"></md-slider>
                                <p>{{Ageto}}</p>
                            </md-slider-container>
                        </div>
                        <div class="col-lg-4">
                            <h6><span>Height</span></h6>
                            <md-slider-container flex-gt-xs>
                                <p>{{HeightFromtext}}</p>
                                <md-slider flex md-discrete min="0" max="40" ng-model="HeightFrom" ng-change="hightFromrefine()" aria-label="Slider"></md-slider>
                                <md-slider flex md-discrete min="0" max="40" ng-model="Heightto" ng-change="hightTorefine()" aria-label="Slider"></md-slider>
                                <p>{{Heighttotext}}</p>
                            </md-slider-container>
                        </div>
                        <div class="col-lg-2">
                            <h6><span style="display:none;">Height</span></h6>
                            <br>

                            <md-checkbox ng-model="isCheckedphoto" aria-label="chkwithphoto">
                                withPhoto
                            </md-checkbox>
                        </div>
                        <div class="col-lg-2">
                            <h6><span style="display:none;">Height</span></h6>
                            <br>
                            <md-input-container class="md-block" flex-gt-sm>
                                <a href="javascript:void(0);" ng-click="refinesubmit()">Search More
                             <a>
                             </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper register_page_main clearfix" ng-hide="truepartner">
    <div class="row">
    <div class="col-lg-6">
         <div id="searchresultprofilesdiv" ng-hide="truepartnerrefine">
            <h4>search results - <span>
                  <label id="refinetotalrecords">{{PartnerProfilesnew[0].TotalRows}}</label>
            <small>Profiles found</small></span></h4>
          </div>
        </div>
   </div>
    <div class="search_results_main clearfix">
      
        <div class="search_result_items_main clearfix" style="width:80%;">
            <div class="message-row4">
                <div id="Div1" class="Maindiv message-row4  wrapper--overflow">
                    <div class="searched_list clearfix">
                         <div class="row" ng-hide="loadinging">
                           <md-progress-circular class="md-accent md-hue-1 col-lg-offset-5" md-diameter="60"></md-progress-circular>
                         </div>
                        <partner-data array="PartnerProfilesnew" typeofsearch="false" pagging="false"></partner-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<alert-directive></alert-directive>
<script type="text/ng-template" id="savedsearch.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="modalpopupclose()">×</button>
            <h4 class="modal-title" id="commontitle" style="color: black;">Save and Search</h4>
        </div>
        <div ng-class="modal-body">
            <div class="row col-lg-offset-1">
                <div class="span4">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Save SearchName:</label>
                        <input ng-model="form.savesearchNames">
                    </md-input-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modalpopupclose()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="generalsearchsubmit('savedsearch',1,8,form)">save&search</button>
            </div>
        </div>
</script>
 <script type="text/ng-template" id="myModalContent.html">
  <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" ng-click="modalpopupclose()">×</button>
        <h4 class="modal-title" id="commontitle" style="color: black;">Send Message</h4>
     </div>
  <div class="modal-body">
      <div class="row col-lg-offset-1">
         <textarea ng-model="form.message" name="txtmsgPartner" rows="6" cols="20" class="col-lg-10"></textarea>
     </div>
 </div>
      <div class="modal-footer">
     <button type="button" class="btn btn-default" ng-click="modalpopupclose()">Close</button>
     <button type="button" class="btn btn-primary" ng-click="sendmessages(form)">Send Message</button>
      </div>
  </div>
 </script>

  <script type="text/ng-template" id="login.html">
     <form name="myFormlogin">
        <div class="modal-header">
            <h4>Existing User Login <i class="material-icons pull-right" ng-click="cancelpopup()">close</i></a></h4>
                        </div>
                        <div class="modal-body">
                            <p>To login into your account, please provide your username and password</p>
                            <br />
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>UserName</label>
                                    <input type="text" id="txtusername" ng-keyup="myFormlogin.$valid && $event.keyCode == 13 && loginsubmit(formloagin)" ng-model="formloagin.username" required style="border: 1px solid #a59898 !important;
                                border-radius: 3px !important;">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Password</label>
                                    <input type="password" id="txtPassword" ng-keyup="myFormlogin.$valid && $event.keyCode == 13 && loginsubmit(formloagin)" ng-model="formloagin.password" required style="border: 1px solid #a59898 !important;
       border-radius: 3px !important;">
                                </md-input-container>
                            </div>
                            <p class="col-lg-offset-1">To create your kaakateeya matrimonial account Click <a href="#/registration" style="color: maroon;">Register Now</a></p>
                        </div>
                        <div class="modal-footer">
                            <md-button ng-click="loginsubmit(formloagin)" class="md-raised md-warn" ng-disabled="myFormlogin.$invalid">
                                Login
                            </md-button>
                            <md-button ng-click="cancelpopup()" type="button">
                                Cancel
                            </md-button>

                        </div>
                        </form>
                        </script>