#DHTMLgoodies_formTooltipDiv{
	color:#333300;
	font-family:arial;
	font-weight:normal;
	font-size:12px;
	line-height:170%;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#FFF;
	font-weight:normal;
	font-size:0.7em;
}