/* CSS Document */
body { background:#f9a551; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#393939; line-height:16px; text-decoration:none;text-align:left;align:center;}
.body1 { background:#f8edca; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#393939; line-height:16px; text-decoration:none;text-align:left;align:center; !important;}
.body2 { background:#f0d5a6; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#393939; line-height:16px; text-decoration:none;text-align:left;align:center; }
.body3 { background:#fbdf8a; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#393939; line-height:16px; text-decoration:none;text-align:left;align:center; }
.body4 { background:#ffffff; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#393939; line-height:16px; text-decoration:none;text-align:left;align:center; }
#maincontainer {padding-left:4px;padding-right:4px;}
#container {width:950px;margin:0px 0px 0px 0px;margin-left:auto;margin-right:auto;text-align:left;}
div.fleft{float:left;}
div.fright{float:right;}
.smalltxt { font-size:13px;}
.smalltxt1 { font-size:11px;}
.smalltxt2 { font-size:10px;}
.clr{color:#FA8B27;}
.clr1{color:#0066FF;}
.clr2{color:#FFFFFF;}
.clr3{color:#990000;}
.clr4{color:#CC0000;}
.clr5{color:#0066FF;}
.mediumtxt { font-size:11px;font-weight:600;}
.bigtxt { font-size:13px;font-weight:bold;}
.bigtxt2 { font-size:13px;font-weight:bold;}
a { color:#FFFFFF; text-decoration:none;outline:none; }
a:hover {  text-decoration:none; color:#FFFF99;}
link {  text-decoration:none;outline:none;}
link:hover {  text-decoration:none;}
.line{color:#FD6306; font-size:14px;}
.bigfont{font-size:13px;font-weight:bold;}
div.dotline{background:url(../images/dot-line.gif)repeat-y;width:1px;padding-left:1px;}

A.matriidlink:link {
	COLOR:#0066FF; text-decoration:none;
}

A.matriidlink:hover{
	COLOR:#FF3300; text-decoration:none; 
}


/*tab panel*/

.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

/* footer content*/


#bottom-container{
	width:950px;
	background-color:#990000;
	float:left;
}

.footer{
	line-height:21px;
}

.footer_content{
	padding-top:35px;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	display:table;
}

.widgets_title{
	font-size:13px;
	font-weight:bold;
	color:#FF9900;
	vertical-align:top;
}

.footer_widgets{
	display:table;
	width:100%;
}

.footer_widgets_box{
	width:179px;
	float:left;
	display:table;
	font-family: Arial;
	color:#FF6600;
}
.footer_widgets_box ul{
	padding-right:5px;
	padding-top:2px;
}

.footer_widgets_box ul li{
	padding-left:5px;
	padding-bottom:2px;
	margin-bottom:2px;
	padding-top:4px;
}


.footer_widget_pages{
	padding-bottom:20px;
	display:table;
	float:left;
}

.footer_widget_pages ul li{
	float:left;
	padding-right:15px;
	font-size:10px;
	font-family:Tahoma;
}

.footer_line{
	width:900px;
	height:29px;
}

.footer_end{
	width:100%;
	padding-bottom:30px;
	display:table;
}

.footer_copyright{
	display:table;
	float:left;
	margin-left:150px;
	font-size:10px;
	font-family:Tahoma;
	line-height:10px;
	color:#FF9900;
}

.footer_social_network{
	width:300px;
	display:table;
	float:right;
	font-size:11px;
	font-family:Tahoma;
}

.footer_social_network ul li{
	float:left;
	padding-right:10px;
}
.footer_social_network_text{
	width:100%;
	display:table;
	float:left;
}

.footer a:hover{
	color:#FFFF99;
}

.footer_form{
	padding-top:14px;
}

.footer_form input{
	border:0;
	margin:0;
	font-size:9px;
	font-family:Tahoma;
	height:16px;
	padding-left:5px;
	padding-top:7px;
	padding-bottom:5px;
	width:175px;
}

.footer_form textarea{
	border:0;
	margin:0;
	font-size:9px;
	font-family:Tahoma;
	padding-left:5px;
	padding-top:7px;
	width:175px;
	height:48px;
	background:none;
	overflow:hidden;	
}

.footer_form .textarea_form{
	width:180px;
	height:58px;
}

.footer_form .submit_bg{
	width:46px;
	height:41px;
	cursor:pointer;
	float:right;
	margin-top:5px;
}

.cleardiv{
	clear:both;
}

/*new*/
#tabs
{
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li
{
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a
{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #ad1c1c;
    background:    -moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:         linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover
{
    background: #c93434;
    background:    -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:         linear-gradient(220deg, transparent 10px, #c93434 10px);     
}

#tabs a:focus
{
    outline: 0;
}

#tabs #current a
{
    background: #fff;
    background:    -moz-linear-gradient(220deg, transparent 10px, #FBDB79 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px,#FBDB79 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #FBDB7910 px);
    background:      -o-linear-gradient(220deg, transparent 10px, #FBDB7910 px); 
    background:         linear-gradient(220deg, transparent 10px, #FBDB79  10px);
    text-shadow: none;    
    color: #333;
}

#content
{
    background-color: #fff;
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 30px;
}

/* Remove the rule below if you want the content to be "organic" */
#content div
{
    height: 220px;
}

/* --- */
#about
{
    color: #999;
}

#about a
{
    color: #eee;
}
/* button*/
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.classname:active {
	position:relative;
	top:1px;
}

/*buttons*/
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.classname:active {
	position:relative;
	top:1px;
}
/*profile menu*/
#cssmenu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #D76100;
	border-size: 1px;
	border-width: 1px;
	padding:0px;
	}
	
	#cssmenu ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
	
	#cssmenu li a {
		height: 32px;
		height: 24px;
		text-decoration: none;
		font-weight:normal;
		color:#000033;
		display: block;
		background:url(../images/profile-btn.gif);
		padding: 8px 0 0 30px;
		}
		
	#cssmenu li a:hover {
		color:#FFFFFF;
		background: url(../images/profile-btn.gif) 0 -32px;
		padding: 8px 0 0 30px;
		}
		
	#cssmenu li a:active {
		color: #fff;
		background: url(../images/profile-btn.gif) 0 -64px;
		padding: 8px 0 0 30px;
		}	
/*profile menu end*/