 .barIndicatorBorder
    {
        border: solid 0px #c0c0c0;
        width: 180px;
        height: 13px;
    }
    .TextIndicator_TextBox1
    {
        color: Black;
    }
    .barIndicator_poor
    {
        background-image: url('../images/progress_bar_pr_red.png');
        background-repeat: no-repeat;
    }
    
    .barIndicator_weak
    {
        background-image: url('../images/progress_bar_wk_red.png');
        background-repeat: no-repeat;
    }
    
    .barIndicator_good
    {
        background-image: url('../images/progress_bar_yellow.png');
        background-repeat: no-repeat;
    }
    
    .barIndicator_strong
    {
        background-image: url('../images/progress_bar_st_green.png');
        background-repeat: no-repeat;
    }
    
    .barIndicator_excellent
    {
        background-image: url('../images/progress_bar_ex_green.png');
        background-repeat: no-repeat;
    }
    .VeryPoorStrength
    {
        color: Gray;
        font-size: 12px;
        font-weight: bold;
    }
    .WeakStrength
    {
        color: Gray;
        font-size: 12px;
        font-weight: bold;
    }
    .AverageStrength
    {
        color: Gray;
        font-size: 12px;
        font-weight: bold;
    }
    .GoodStrength
    {
        color: Gray;
        font-size: 12px;
        font-weight: bold;
    }
    .ExcellentStrength
    {
        color: Gray;
        font-size: 12px;
        font-weight: bold;
    }
    .password
    {
        font-size: 12px;
        border: 1px solid #cc9933;
        width: 200px;
    }
    
    .pstrength-minchar
    {
    	font-size:12px;
    	position:absolute;
    	margin-top:-15px;
    	display:none;
    }
    
    .pstrength-info
    {
    	font-size:12px;
    	position:absolute;
    	margin-top:-15px;
    }