<style>
.multiselect {
        margin: 4px 0 0 0;
        border-radius: 3px !important;
        height: 34px;
        background: none !important;
        text-align: left;
        box-shadow: none !important;
        display: block;
        width: 96% !important;
        border: solid 1px #ccc !important;
        color: #000 !important;
    }
}
</style>
<div id="upfeedback" ng-controller="feedbackCtrl">

    <div class="register_page_main">
        <h4>FEEDBACK</h4>
        <div class="rating_main">
            <p>
                Customer feedback plays a significant role in improving our quality of service. Kindly allot a few seconds to fill the form
                below.
            </p>
            <div class="rating_main_in clearfix">
                <div class="control-group span6 select-box-my">
                    <label class="control-label">How did you here about us?</label>
                    <div class="controls clearfix">
                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.label for item in optionhereabout track by item.value">  
                        </select>

                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">if you could improve our website, which section would that be?</label>
                    <div class="controls clearfix">
                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value">  </select>
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">Kaakateeya.com prices are</label>
                    <div class="controls clearfix">
                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value">  </select>
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">Download time of our website</label>
                    <div class="controls clearfix">
                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value">  </select>
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">Compare to other Indian Matrimonial websites, Our services are</label>
                    <div class="controls clearfix">

                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value">  </select>
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">Your favorite indian Matrimonial websites</label>
                    <div class="controls clearfix">
                        <input name="txtfavoritesite" id="txtfavoritesite" class="input-box" onkeydown="return checkwhitespace(event,this.id);" type="text">
                        <input name="txwFavName_ClientState" id="txwFavName_ClientState" type="hidden">
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">How do your rate the search results for your partner?</label>
                    <div class="controls clearfix">
                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value"
                            typeofdata="caste">  </select>
                    </div>
                </div>
                <div class="control-group span6 select-box-my">
                    <label class="control-label">Would recomended  us to  your friends and family members</label>
                    <div class="controls clearfix">


                        <select id="ddlabout" multiselectdropdown ng-model="selectedvalues" ng-options="item.title for item in optionsxcvn track by item.value"
                            typeofdata="caste">  </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="control-group">
                    <label class="control-label">Comments and Suggestions<span style="color: red;">*</span></label>
                    <div class="controls clearfix">

                        <textarea name="txtcomments" rows="2" cols="20" id="txtcomments" class="textarea" onkeydown="return CharacterCount()" onkeyup="return CharacterCount()"></textarea>
                        <span id="lblcommentcount" class="col-lg-offset-5" style="color: black; font-size: 13px;"></span>

                        <br>
                        <span id="RegularExpressionValidator3" class="comments" style="color:Red;display:none;">Minimum 10 characters required.</span>
                        <span id="RequiredFieldValidatotxtcomments" style="color:Red;font-size:12px;display:none;">*Please enter comments/Suggestions</span>
                    </div>
                </div>
                <div class="rating_submit_main clearfix">
                    <div class="rating_captcha">
                        <label class="control-label">Please enter the security code here</label>
                        <div class="rating_captcha_in clearfix">
                            <input name="CaptchaInputField" id="CaptchaInputField" class="verify  input-box" type="text">
                            <img id="Captcha1" captchalength="5" noisecolor="#B1B1B1" alt="" captchaheight="60" captchabackgroundnoise="Low" captchamaxtimeout="240"
                                fontcolor="#D20B0C" captchamintimeout="5" src="/Customer_new/Customerdesignedpages/CustomerRating.aspx?oboutcaptchaguid=2080897494&amp;width=200&amp;height=40"
                                captchawidth="200" style="height:40px;width:200px;">
                            <span id="RequiredFieldValidatorCaptchaInputField" style="color:Red;font-size:12px;display:none;">*Please enter verification code</span>
                            <div class="clear"></div>
                        </div>
                        <a href="javascript: $find('Captcha1').getNewImage();">Generate a New
                                                            Image</a>
                        <img id="GenerateNew" alt="" title="Generate a new image" onclick="$find('Captcha1').getNewImage();" src="../images/icon_refresh.png"
                            style="cursor: pointer">

                    </div>
                    <input name="btnsubmit" value="Submit" id="btnsubmit" class="button_custom pull-right" type="button">
                </div>
            </div>
        </div>
    </div>

</div>