<div ng-init="divngit()">
    <script type="text/ng-template" id="forgetpasswordemail.html">
        <form name="forgetpassword">
            <div class="modal-header">
                <h4 style="color: maroon;
    font-weight: 600;">Change your password
                </h4>
            </div>
            <div class="modal-body">
                <li>Passwords are case-sensitive and must be at least 6 characters.</li>
                <li>A good password should contain a mix of capital and lower-case letters, numbers and symbols</li>
                <br />
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>New Password</label>
                        <input type="password" name="txtPassword" id="txtPassword" ng-keyup="forgetpassword.$valid && $event.keyCode == 13 && passwordsubmit(formloagin)" ng-model="formloagin.txtPassword" required style="border: 1px solid #a59898 !important;
                                border-radius: 3px !important;">
                        <div ng-messages="forgetpassword.txtPassword.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Confirm new password</label>
                        <input type="password" match-password="txtPassword" name="txtconPassword" id="txtconPassword" ng-keyup="forgetpassword.$valid && $event.keyCode == 13 && passwordsubmit(formloagin)" ng-model="formloagin.txtconPassword" required style="border: 1px solid #a59898 !important;border-radius: 3px !important;">
                        <div ng-messages="forgetpassword.txtconPassword.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="passwordMatch" class="message slide-left">Your Password did not match</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div class="modal-footer">
                <md-button ng-click="passwordsubmit(formloagin)" class="md-raised md-warn" ng-disabled="forgetpassword.$invalid">
                    Submit
                </md-button>
            </div>
        </form>
    </script>
</div>
<style type="text/css">
    .modal-lg {
        width: 700px !important;
    }
</style>