<div class="register_page_main">
    <h4 class="pull-left">
        <span id="ctl00_ContentPlaceHolder1_lblregistration">registration</span></h4>
    <div class="clear"></div>
    <div class="register_page_main_in clearfix">
        <div id="divregistration" class="clearfix">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <h4>BASIC INFORMATION </h4>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <h4>
                        PROFILE DETAILS</h4>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <h4>MY PHOTOS</h4>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <h4>MY PAYMENTS</h4>
                </md-input-container>

            </div>
            <md-progress-linear class="md-raised md-warn md-hue-2" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}" ng-disabled="!showList[0]"></md-progress-linear>

            <div class="clear">&nbsp;</div>
            <br>
            <div class="vrepeatContainer" ng-cloak ng-hide="true">
                <md-content layout="column">

                    <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
                        <div md-virtual-repeat="item in items" class="repeated-item-horizontal" flex>
                            <md-virtual-repeat-container id="vertical-container">
                                <div md-virtual-repeat="ite in items" class="repeated-item-vertical" flex>
                                    {{ite}}
                                </div>
                            </md-virtual-repeat-container>
                        </div>
                    </md-virtual-repeat-container>

                </md-content>
            </div>
        </div>
        <div class="my_packages_main clearfix package_table_main">
            <div layout="column" layout-fill>
                <md-content layout-padding layout="row" layout-align="center">
                    <div flex-gt-md="60" flex-md="80" flex-xs="100">
                        <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                            <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                                <div flex-gt-sm="75" flex-xs="100">
                                    <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                    <thead>
                                        <tr>
                                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                                <span>{{items[0].MembershipName}}</span>
                                            </th>
                                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric" ng-repeat="item in items">
                                                <span>{{item.MembershipName}}</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr grid-item>
                                            <td class="mdl-data-table__cell--non-numeric">
                                                <span ng-bind="items[0].MemberShipDuration"></span>
                                            </td>
                                            <td ng-bind="item.MemberShipDuration" ng-repeat="item in items"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </md-content>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div id="ttttt">

            <div class="my_packages_main_bottom clearfix">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex=55>
                        <p>Interested in, exclusive match making services for our super special members, Contact us!</p>
                    </md-input-container>
                    <md-input-container class="md-block" flex=20>
                        <label>Number</label>
                        <input ng-model="user.Confirmnewemail">
                    </md-input-container>
                    <md-input-container class="md-block" flex=20>
                        <md-button class="md-raised md-warn md-hue-2">Submit</md-button>
                    </md-input-container>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .vrepeatContainer #horizontal-container {
        height: 100px;
        width: 1030px;
    }
    
    .vrepeatContainer #vertical-container {
        height: 592px;
        width: 400px;
    }
    
    .vrepeatContainer .repeated-item-horizontal {
        border-right: 1px solid #ddd;
        box-sizing: border-box;
        display: inline-block;
        height: 84px;
        padding-top: 35px;
        text-align: center;
        width: 50px;
    }
    
    .vrepeatContainer .repeated-item-vertical {
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        height: 40px;
        padding-top: 10px;
    }
    
    .vrepeatContainer md-content {
        margin: 16px;
    }
    
    .vrepeatContainer md-virtual-repeat-container {
        border: solid 1px grey;
    }
    /*//*/
    
    th:focus,
    a:focus {
        outline: none;
    }
    
    .codepen-wrap {
        margin-top: 15px;
    }
    
    .mdl-data-table {
        width: 100%;
    }
    
    .mdl-data-table th {
        cursor: pointer;
    }
    
    .mdl-data-table tr {
        transition: none !important;
    }
    
    th md-select {
        margin: 0;
    }
    
    .md-errors-spacer {
        display: none;
    }
    
    ul.pagination {
        padding: 0;
        font-size: 0;
        display: inline-block;
    }
    
    .pagination>li {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        border: 1px solid #ddd;
        border-left: 0;
    }
    
    .pagination>li:first-child {
        border-left: 1px solid #ddd;
        border-radius: 2px 0 0 2px;
    }
    
    .pagination>li:last-child {
        border-radius: 0 2px 2px 0;
    }
    
    .pagination a {
        color: #444;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        display: inline-block;
        text-decoration: none;
    }
    
    .pagination .active {
        background: #3f51b5;
        border-color: #3f51b5;
    }
    
    .pagination .active a {
        color: #fff;
    }
    
    .pagination-page.active {
        background: #3f51b5;
    }
    
    .pagination-page.active a {
        color: #fff;
    }
    
    .material-icons,
    .sortable span:before,
    .sortable span:after {
        font-family: 'Material Icons';
        font-size: 18px;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    
    .sortable span {
        position: relative;
    }
    
    .sortable span:before {
        content: 'arrow_drop_down';
        position: absolute;
        right: -18px;
        top: -2px;
    }
    
    .sortable span:after {
        content: 'arrow_drop_up';
        position: absolute;
        right: -18px;
        top: -9px;
    }
    
    .sortable.sort-ascent span:before {
        display: none;
    }
    
    .sortable.sort-ascent span:after {
        top: -5px;
    }
    
    .sortable.sort-descent span:before {
        top: -5px;
    }
    
    .sortable.sort-descent span:after {
        display: none;
    }
</style>