<div id="updateContents">
    <div class="profile_full_main">
        <div class="profile_full_header clearfix">
            <div class="profile_full_header_pic">
                <input name="iProfilePic" id="iProfilePic" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/customernoimages/Fnoimage_Rev.png" style="height:150px;width:150px;" type="image">
            </div>
            <div class="profile_full_header_in">
                <h6>
                    <span id="lblName">Lakshmi A</span>
                    <span>
                <span id="lblProfileIDs">310910220</span></span>
                </h6>
                <p>
                    <span>
                 <span id="lblAge">24</span></span> | <span>
                  <span id="lblheight">5'6 in - 167 cms</span>
                    </span>| <span>
               <span id="lblreligion">Hindu</span>-<span id="lblCasts">Mudaliar</span>
                    </span>| <span>
                      <span id="lblNativePlace">Andhra Pradesh</span></span> | <span>
                       <span id="lblEducation">Masters in Engineering</span>

                    </span>
                </p>
            </div>
            <div class="profile_full_header_in_ui clearfix">
                <div id="updateHoror">
                    <a id="lnkViewHoro" href="javascript:__doPostBack('lnkViewHoro','')">View Horo</a>
                </div>
            </div>
        </div>
        <div class="personal_inform_main">
            <div class="personal_inform_head clearfix">
                <h4 style="color: #d42e02;">personal information</h4>
                <a href="#" class="edit_prsnl"></a>
            </div>
            <div class="personal_inform_main_in">
                <h4>about my
                    <span id="lblRelation">daughter</span></h4>
                <p>
                    <span id="lblDesc">Write About your unique characteristics,The Most Important Things In your life like your Aspiration, Interests, things you like to do</span>
                </p>
            </div>

            <div ng-repeat="item in arr" ng-if="item.header=='Headings' || item.header=='About' || item.header=='Primary'?'':item.header">
                <div class="personal_inform_head clearfix">
                    <h4>
                        <span id="lblHeadings">{{item.header}}</span></h4>
                    <a href="#" class="edit_prsnl"></a>
                </div>
                <div class="personal_inform_main_in">
                    <div id="divStyle" ng-class="item.header=='Professional information'|| item.header=='Family details'|| item.header=='Sibling Details' || item.header=='Partner Preferences details'?'': 'personal_inform_main_in_list clearfix'">
                        <p ng-repeat="itm in item.value">
                            <span style="color:Black;font-weight:bold;">{{itm.columnname|| (itm.columnName==='1'?'Education':(itm.columnName==='2'|| itm.columnName==='3' || itm.columnName==='4' || itm.columnName==='5')?"":itm.columnName) ||itm.ColumnName}}</span>
                            <span>
                           <span id="lblTextName"> :<span ng-bind-html="itm.value || itm.Value"></span> </span>
                            </span>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>