<div class="clearfix" style="padding: 0 0 0 0;">
    <div id="View" class="content-View clearfix pull-right" ng-style="typeofdiv==='Grid' || typeofdiv==='List' ?{'display':'block'}:{'display':'none'}">
        <a id="lnkgrid" class="gridk_view icon-list" title="Grid View" ng-click="typeofdiv='List'" style="cursor: pointer;" />
        <a id="lnklist" class="normal_view icon-grid" title="List View" ng-click="typeofdiv='Grid'" style="cursor: pointer;" />
    </div>
</div>
<div id="PartnerProfilles">
    <div id="partnerDiv1" ng-class="typeofdiv==='Grid'?'list searched_list_item2':'list search_result_item clearfix'" ng-style="typeofdiv==='Grid'?{'width':'22%','margin-right': '2.4%','min-width':'250px'}:''" ng-repeat="data in PartnerProfilesnew">
        <p class="profile_no pull-left clearfix"></p>
        <p class="label_check pull-left clearfix" style="width:60%;"><span> {{data.ProfileID}}</span></p>
        <p></p>
        <div class="clear"></div>
        <div class="search_result_item_in clearfix">
            <div class="search_result_item_pic pull-left">
                <span class="">
                   
                    <img name="imgProfilefullpic" ng-src="{{data.Photo}}" style="height: 250px; width: 250px;"></span>
                <p style="align-items: center; text-align: center;"></p>
                <div>
                    <a class="lnkPhotoRequest" href="javascript:void(0)" ng-style="typeofdiv==='Grid'?{'display':' none'}:{'display':'block'}"></a>
                </div>
            </div>
            <div class="search_result_item_descr pull-left">
                <p>
                    <span>He</span> was born and raised in
                    <label class="label_check"><span>{{data.placeofbirth}}</span></label>
                </p>

                <div class="search_result_item_descr_list clearfix">
                    <p class="clearfix ipName" ng-style="typeofdiv==='Grid'?{'display':'none'}:{'display':'block'}">
                        <label>Name</label>
                        <span>{{data.NAME}}</span>
                    </p>

                    <p class="clearfix">
                        <label>Age / Height</label>
                        <span>{{data.Age}}</span><span>-</span><span>{{data.Height}}</span>
                    </p>
                    <p class="clearfix">
                        <label>Caste</label><span>{{data.ReligionName}}</span><span>-</span><span>{{data.Caste}}</span>
                    </p>
                    <p class="clearfix ipMaritalstatus" ng-style="typeofdiv==='Grid'?{'display':'none'}:{'display':'block'}">
                        <label>Marital status</label><span>{{data.MaritualStatus}}</span>
                    </p>
                    <p class="clearfix ipStar" ng-style="typeofdiv==='Grid'?{'display':'none'}:{'display':'block'}">
                        <label>Star</label>
                        <span>{{data.Star}}</span>
                    </p>
                    <p class="clearfix ipLocation" ng-style="typeofdiv==='Grid'?{'display':'none'}:{'display':'block'}">
                        <label>Location</label>
                        <span>{{ data.Location }}</span>
                    </p>
                    <p class="clearfix">
                        <label>Education</label><span> {{data.Education}}</span>
                    </p>
                    <p class="clearfix">
                        <label>Occupation</label><span>{{data.profession}}</span>
                    </p>
                </div>
                <a class="view_profile" href="javascript:void(0)" ng-click="redirectToviewfullprofile(data.Cust_ID,data.LogID)">View full Profile</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="search_result_item_ui clearfix">
            <div class="search_result_item_ui_prsnl pull-left">
                <ul>
                    <li>
                        <img title="Mobile" ng-class="typeofdiv==='Grid'?'mobile-icon':'mobile-icon_list'"></img>
                    </li>
                    <li>
                        <img title="Emails" ng-class="typeofdiv==='Grid'?'message-icon':'message-icon_list'"></img>
                    </li>
                    <li>
                        <img title="horo" ng-class="typeofdiv==='Grid'?'planet-icon':'planet-icon_list'"></img>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div ng-class="typeofdiv==='Grid'?'listnew search_result_item_ui_exprsns clearfix search_result_item_ui_exprsns_grid':'listnew search_result_item_ui_exprsns clearfix search_result_item_ui_exprsns_grid'">
                <ul>
                    <li>
                        <div style="margin-top: 5px;">
                            <div ng-class="typeofdiv==='Grid'?'bookmark-icon2':'bookmark-icon'" ng-click="serviceactions('B',data.Cust_ID,data.mybookmarked)" style="color: Black;float:left;cursor:pointer;" />
                            <span ng-class="typeofdiv==='Grid'?'spandisplay':'spandisplayblock'">
                 BOOKMARK
                   </span></div>
                    </li>
                    <li>
                        <div style="padding:5px 6px 12px 12px;">
                            <div ng-class="typeofdiv==='Grid'?'interest-icon2':'interest-icon'" ng-click="serviceactions('E',data.Cust_ID,data.ExpressFlag,data.ProfileID)" style="color: Black;float:left;cursor:pointer;" />
                            <span ng-class="typeofdiv==='Grid'?'spandisplay':'spandisplayblock'">
                         EXPRESS INTEREST
                            </span></div>
                    </li>
                    <li>
                        <div style="padding: 5px 6px 7px 12px;">
                            <div ng-class="typeofdiv==='Grid'?'message-icon2-small':'message-icon2'" ng-click="sendmessegescommon('M',data.Cust_ID)" style="color: Black;float:left;cursor:pointer;" />
                            <span ng-class="typeofdiv==='Grid'?'spandisplay':'spandisplayblock'">
                   MESSAGE
                        </span></div>
                    </li>
                    <li>
                        <div style="padding: 5px 6px 11px 12px;">
                            <div ng-class="typeofdiv==='Grid'?'close-icon-small':'close-icon'" ng-click="serviceactions('I',data.Cust_ID,data.ignode)" style="color: Black;float:left;cursor:pointer;" />
                            <span ng-class="typeofdiv==='Grid'?'spandisplay':'spandisplayblock'">
                       IGNORE
                          </span></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class='row col-lg-10' ng-style="typeofdiv==='Grid' || typeofdiv==='List' ?{'display':'block'}:{'display':'none'}">
    <div class="col-lg-offset-5" ng-show=loadmore>
        <a href="javascript:void(0);" ng-click="directivepaging();"><span class="fa fa-arrow-down fa-2x">Loadmore</span></a>
    </div>
    <div class="col-lg-offset-5" ng-show=loaderspin>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
    <div class="col-lg-offset-5 text-center" ng-show=Norowsend>
        <h3 style="color: maroon;">End</h3>
    </div>
</div>
<style type="text/css">
    .spandisplay {
        display: none;
    }
    
    .spandisplayblock {
        display: block;
        margin-top: 5px;
        margin-left: 1px;
    }
</style>