<script type="text/ng-template" id="forgetpassword.html">
    <md-dialog>
        <form ng-cloak name="forgetpassword">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Forgot Password</h2>
                    <span flex></span>
                    <a href="javascript:void(0)">
                        <i class="material-icons" ng-click="cancel()">close</i></a>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <p>
                        Forgot Password Don't worry! just fill in your email and we'll help you reset your password.</p>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Matrimony ID / Email-ID:</label>
                            <input type="text" id="txtforgetpassword" ng-model="form.txtforgetemail" required>
                        </md-input-container>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-disabled="forgetpassword.$invalid" ng-click="forgotpasswordsubmit(form)">
                    SEND EMAIL
                </md-button>
                <md-button ng-click="cancel()">
                    CANCEL
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>