<div class="header_inner" id="divInnerMaster" ng-controller='headctrl'>

    <div class="container_my clearfix">

        <input type="image" id="IbtnLogodisplay" class="logo_inner pull-left"  alt="kaakateeyalogo"/>

        <input type="button" value="Login" id="btnLoginsubmit" class="pull-right button_custom login_show" ng-click="divloginblock();"
        />
        <input type="button" value="Logout" id="btnLogOut" ng-hide="true" class="pull-right button_custom" onclick="return ClearlocalStorage();"
        />



        <div class="login_block_header" style="display: none;" id="divLogin">

            <input type="text" id="txtUserName" onchange="return vali();" />
            <input type="password" id="txtPassword" />
            <span class="clear">&nbsp;</span>
            <div class="login_help">

                <a id="lnkForgotPassword" onclick="return ShowForgotPassword();">Forgot Password</a>
                <a href="CustomerRegistration.aspx">New User Sign Up</a>

            </div>
            <input type="button" id="btnUserLogin" onclick="btnUserLogin_Click" class="button_custom" value="Login" />

            <span class="clear">&nbsp;</span>
        </div>

        <div class="header_inner_rt clearfix">
            <h3>

                <a id="lnkFeedbackMenu" onclick="lnkFeedbackMenu_Click">Feedback</a>

            </h3>
            <h4>make a missed call<span><em>+91-9390999999</em></span></h4>
            <h4>Support No<span>+1-734-926-1011</span></h4>
        </div>
    </div>
    <div class="navbar_inner" id="divMemberName" ng-hide="true">

        <div class="container_my clearfix">
            <div class="profile_own_name pull-left clearfix">
                <input type="image" id="IMasterpic" style="height: 31px; width: 31px;" onclick="IMasterpic_Click1" />
                <h2>
                    <label id="lblCustFName"></label> &nbsp;&nbsp;
                    <label id="lblcustLname"></label> (
                    <label id="lblprofile"></label>)
                    <br />
                    <span>Accout type :</span>
                    <a id="lblpaid" onclick="lblpaid_Click" forecolor="White"></a>
                </h2>
            </div>
            <div class="profile_own_menu profile_own_menu2 pull-right" id="MenuDiv">
                <a class="menu_toggle pull-right">Menu</a>
                <ul class="pull-right">

                    <li>
                        <a id="lnkMyHome" href="#/Home">My Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">my account</a>

                        <ul>
                            <li>
                                <a id="linkviewmyprofile" href="#/ViewMyProfile">View My Profile</a>
                            </li>
                            <li>
                                <a id="linkeditprofile" href="#/EditProfile">Edit Profile</a>
                            </li>
                            <li>
                                <a id="linkmanagephoto" href="#/ManagePhoto">Manage Photo</a>
                            </li>
                            <li>
                                <a id="linkmanagehoroscope" href="#/ManageHoroscope">Manage Horoscope</a>
                            </li>
                            <li>
                                <a id="linkprofilesettings" href="#/ProfileSettings">Profile Settings</a>
                            </li>

                        </ul>

                    </li>
                    <li>
                        <a id="lnksearch" href="#/Home">Search</a>
                        <ul>
                            <li>
                                <a id="linkgenaralsearch" href="#/GeneralSearch">General Search</a>
                            </li>
                            <li>
                                <a id="linkAdvancedSearch" href="#/AdvancedSearch">Advanced Search</a>
                            </li>
                            <li>
                                <a id="linkprofileidsearch" href="#/ProfileidSearch">Profileid Search</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)">my package</a>
                        <ul>
                            <li>
                                <a id="linkupgrademembership" href="#/UpgradeMembership">Upgrade Membership</a>
                            </li>
                            <li>
                                <a id="linkmyorders" href="#/MyOrdersAndStatistics">My Orders and Statistics</a>
                            </li>
                            <li>
                                <a id="linkmembershipfaqs" href="#/MembershipFaqsHome">Membership Faqs</a>
                            </li>
                            <li>
                                <a id="linkAddOnPacks" href="#/AddOnPacks" visible="false">Add On Packs</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">matches</a>
                        <ul>
                            <li>
                                <a id="linkmybookmarks" href="#/MyBookMarked">My BookMarked Profiles</a>
                            </li>
                            <li>
                                <a id="linkwhobookmarkedme" href="#/WhoBookMarked">Who BookMarked Me</a>
                            </li>
                            <li>
                                <a id="linkigonredprofile" href="#/Ignored">Ignored Profiles</a>
                            </li>
                            <li>
                                <a id="linkviewedbutnotexpress" href="#/viewed">My profile viewed by others</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">messages</a>
                        <ul>
                            <li>
                                <a id="linkPersonalizedmsg" href="#/Chats">Chats</a>
                            </li>
                            <li>
                                <a id="linkrequests" href="#/Requests">Requests</a>
                            </li>
                            <li>
                                <a id="linkMyContact" href="#/Expressinterest">Express interest</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Help</a>
                        <ul>
                            <li>
                                <a id="lnkcontactus" href="#/ContactUs">Contact Us</a>
                            </li>
                            <li>
                                <a id="linkmysupportickets" href="#/MySupportTickets">My Support Tickets</a>
                            </li>
                            <li>
                                <a id="lnkfeedback" href="#/FeedBack">Feed Back</a>
                            </li>
                            <li>
                                <a id="lnktakeatour" href="#/TakeATour">Take A Tour</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar_inner" id="divwithoutlogin">
        <div class="container_my clearfix">

            <div class="profile_own_menu pull-right">
                <a class="menu_toggle pull-right">Menu</a>
                <ul class="pull-right">

                    <li><a href="CustomerRegistration.aspx">Register free</a></li>
                    <li><a href="KaakateeyaCustomerProfileIDsearchNew.aspx">Search <span></span></a></li>
                    <li><a onclick="return divloginblock(); return false;" href="javascript:void(0)">Upgrade</a></li>
                    <li>
                        <a id="lnkSucessstoreiesFooter" href="#/Home">success stories <span></span></a>
                    </li>
                    <li>
                        <a id="linkfooterhelp" href="#/Help">Help</a>
                    </li>
                    <li><a href="KaakateeyaCustomerHomePage.aspx">Home</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>