<div>

    <div id="Div2">
        <div>
            <div class="panel_com">
                <div class="panel_hd_com">
                    Payment Details
                </div>
                <div class="panel_bd_com">
                    <div id="fldConfMember" width="80%" align="left">
                        <span class="OrangeText_b">Selected Membership Details</span>
                        <table width="80%" align="center">
                            <tr>
                                <td>
                                    <table align="center" width="60%">
                                        <tr>
                                            <td>Membership Name :

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Membership Amount :

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Membership Expiry Date :

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Membership Points :

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>