<div id="body" class="panel panel-success" ng-init="pageloadpayment()" ng-controller="paymentresponse">
    <div class="panel">
        <a id="lnkbtnBacktoListMemberships" ng-click="backtopayment()" class="btn btn-danger pull-right" href="javascript:void(0);">Back to List of Memberships</a>
    </div>
    <div class="panel-body text-center">
        <div role="form" style="line-height: 225%;">
            <div class="form-group">
                Please Confirm the below Membership Details before you Pay
            </div>
            <div class="form-group">
                Membership Name :
                <span id="hdnMembershipName" style="font-weight:bold;">{{paymentobject.MembershipName}}</span>
            </div>
            <div class="form-group">
                Membership Amount :
                <span id="hdnMembershipAmnt" style="font-weight:bold;">{{paymentobject.Amount}}</span>
            </div>
            <div class="form-group">
                <span id="memduration">Membership Duration :</span>
                <span id="hdnMembershipduration" style="font-weight:bold;">{{paymentobject.Duration}}  Months</span>
            </div>
            <div class="form-group">
                Membership Points :
                <span id="hdnMembershipPoints" style="font-weight:bold;">{{paymentobject.Points}}</span>
            </div>
            <form method="POST" name="customerData" action="/ccavRequestHandler">
                <input type="hidden" name="merchant_id" id="merchant_id" value="63448" />
                <input type="hidden" name="order_id" ng-value="orderid" />
                <input type="hidden" name="currency" value="INR" />
                <input type="hidden" name="amount" ng-value="paymentobject.Amount" />
                <input type="hidden" name="redirect_url" value="http://www.kaakateeya.com/ccavResponseHand" />
                <input type="hidden" name="cancel_url" value="http://www.kaakateeya.com/ccavResponseHand" />
                <input type="hidden" name="language" id="language" value="EN" />
                <!--<a id="imgProceedtoPay" class="btn btn-primary" ng-click="paymentinsert()" href="javascript:void(0)"><span class="glyphicon glyphicon-share-alt"></span>Proceed To Payment</a>-->
                <input type="submit" class="btn btn-primary" value="Proceed To Payment">
            </form>
        </div>
    </div>
    <div>

    </div>
</div>