body {
}

.vertical-text {
    transform: rotate(-23deg);
    font-weight: bold;
    position: absolute;
    padding: 15px;
    /*background-color: rgb(160, 2, 1);*/
    color: white;
}

.Linkdisabled {
    pointer-events: none;
    cursor: default;
    display: none;
}

.Linkdisabledforsaform {
    pointer-events: none;
    cursor: default;
}

.carousel-control {
    width: 7%;
}

.label {
    position: relative;
    line-height: 36px;
    font-size: 13px;
    color: #000 !important;
    font-weight: 400;
    text-transform: capitalize;
}

.radio {
    color: gray;
    text-transform: capitalize !important;
    font-size: 13px !important;
}

.fa-heart {
    color: #f00;
}

.fa-bolt {
    top: -5%;
    left: 2%;
    font-size: 70%;
}

.pop_label_left {
    width: 24%;
}


.maroon {
    color: maroon !important;
}

.pop_controls_right textarea {
    width: 96%;
}

.form-control {
    width: 96%;
}


.btn-success-outline {
    color: rgb(35,82,124);
    background-color: transparent;
    background-image: none;
    border-color: rgb(35,82,124);
}

    .btn-success-outline:hover {
        color: #fff;
        background-color: orange;
        border-color: orange;
    }

.selected img {
    opacity: 0.5;
}

.carousel-inner > .item > img {
    max-width: 80%;
    height: 100%;
    max-height: 800px;
    margin: auto;
}

#tabs > li.active > a {
    color: maroon !important;
}

#tabs > li > a {
    color: gray !important;
}

.pop_label_left:after {
    content: "*";
    color: red;
}

.Notrequired:after {
    content: "*";
    color: white;
}

.fa-check-circle {
    font-size: 17px;
    color: green;
}
