body {
}

.cssMaskdiv {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .cssMaskdiv:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "To View other Photos";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 50% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .cssMaskdiv:before {
        color: #ffffff;
        content: "Upload your Photo";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 60% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }


.cssMaskdivprotected {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .cssMaskdivprotected:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "Password Protected";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 50% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .cssMaskdivprotected:before {
        color: #ffffff;
        content: "";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 60% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }


.cssMaskdivrev {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .cssMaskdivrev:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "Once your photos approved";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 50% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .cssMaskdivrev:before {
        color: #ffffff;
        content: "you can view others photos";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 60% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

.cssbtn {
    display: none;
}

.cssdiv {
    position: relative;
}

    .cssdiv:after {
        display: block;
        content: 'Only for login members';
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        padding: 60% 0;
        left: 0;
        top: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }


.cssMaskdiv {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .cssMaskdiv:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "To View other Photos";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 50% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .cssMaskdiv:before {
        color: #ffffff;
        content: "Upload your Photo";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 60% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }

.cssMaskupload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .cssMaskupload:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "Upload  Photo";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        padding: 50% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }


.divCSSclass {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .divCSSclass:after {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        color: #ffffff;
        content: "Your Photo Under Review";
        display: block;
        font-size: 14px;
        /* height: 100%; */
        left: 0;
        line-height: 20px;
        padding: 40% 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

.popupforward {
    width: 566px;
    border-radius: 5px;
    background: #FFF none repeat scroll 0% 0%;
    margin: 22% auto 0px;
    position: static !important;
    display: block;
    padding: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 100%;
}

.bs-example {
    margin: 20px;
}
