section#tabber {
    width: 9999px;
    height: auto;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

    section#tabber article {
        width: 970px;
        height: auto;
        float: left;
        display: block;
    }

#tabber_clip {
    width: 970px;
    position: relative; /* For IE */
    overflow: hidden;
    height: auto;
    z-index: 101;
    border-top: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

section#tabber_tabs {
    display: block;
    float: left;
    width: 925px;
    padding: 0 8px;
    margin: 0 0 0 0;
}

    section#tabber_tabs article {
        display: block;
        float: left;
        width: 180px;
        height: 43px;
    }

        section#tabber_tabs article a {
            text-align: center;
            padding: 8px 0px;
            display: block;
            font-size: 18px;
            background: #FEDC01;
            color: #303030;
            width: 201px !important;
            font-family: 'helvetica neue regular';
            text-decoration: none;
        }

        
        
        section#tabber_tabs article.active {
            background: url("../../Customer_new/CutomerImages/news-arrow.png") no-repeat center bottom transparent;
        }
        
            section#tabber_tabs article.active a {
                background: #b01016;
                color: #fff;
                width: 168px!important;
                font-family: 'helvetica neue regular';
                font-size: 18px;
            }

.codetab {
    padding: 10px;
    width: 250px;
    height: auto;
    background: #646391;
    font-size: 0.9em;
    overflow: auto;
    display: block;
    float: left;
}

.tab_cont {
    padding: 0px 0px;
}

    .tab_cont a {
        color: #b01016;
        font-family: 'myraid';
        ;
        text-decoration: none;
        padding-bottom: 5px;
        font-size: 16px;
    }

        .tab_cont a:hover {
            text-decoration: underline;
        }

#tab_cont_1 label::before {
    display: none;
    !important;
}

#tab_cont_1 label::after {
    display: none;
    !important;
}

#tab_cont_1 label {
    font-size: 15px;
    color: #2A2A2A;
}

#tab_cont_1 input {
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 20px;
    padding: 7px;
    width: 970px;
}

#tab_cont_1 button {
    background: #9f0400 none repeat scroll 0 0;
    border: 1px solid #9f0400;
    border-radius: 7px;
    color: white;
    font-family: helvetica neue medium;
    font-weight: bold;
    padding: 7px 15px;
    margin-left: 10px;
}

.reg-form > ul {
    padding: 0;
}
