.help-left h5{
    font-size: 15px;
    padding: 10px 0;
    color: #a00401;
}
.help-left{
    width:550px;
    float: left;
}
.help-right{
    width:350px;
    float: left;
}

.help-right > img {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 126px 0;
}
#astro-label{
    margin-bottom: 35px;
}
.row1-quick .annual-input {
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 0;
    padding: 6px;
    width: 71px;
}
.input-none{border: none;}
.brd1 {
    border: 1px dashed grey;
    margin: 20px 0px;
}
.header-label {
    color: #a00401 !important;
    padding-bottom: 15px;
    width: 800px !important;
}
.img-qus {
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
}
/**/
.profile-settings{
    float: left;
    padding: 0 20px 20px;
    width: 100%;
}
.row1-quick span{
    font-size: 14px;
    font-family: "helvetica neue regular";
    color:#afafaf;
}
.row1-quick1 label{
    display: none;
}
.row1-quick  {
    margin-bottom: 12px;
}
.row1-quick  label::before{
    display: none;
}
.row1-quick  label::after{
    display: none;
}
.row1-quick  label{
    color: #030303;
    float: left;
    font-family: helvetica;
    font-size: 17px;
    font-weight: bold;
    width: 160px;
}
.row1-quick .marital{
    border: 1px solid;
    border-radius: 6px;
    color: darkgrey;
    height: 90px;
    overflow-y: scroll;
    width: 323px;
}
.row1-quick  a{
    font-size: 12px;
    text-decoration: underline;
}
.row1-quick .input-box{
    color: darkgrey;
    padding: 7px 5px;
    border: 1px solid  #bebebe;
    width: 317px;
    border-radius: 5px;
}
.send-feedback{
    background: #EBEBEB;
    padding:10px 10px 25px;
    margin:15px 15px 20px;
}

.browse-btn {
    height: 32px;
    position: absolute;
}
.feed-left {
    float: left;
    padding-right: 20px;
    width: 480px;
}

.send-feedback h6{
    font-size: 16px;
    color:#9F0400;
}
.send-feedback p{
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
    color:#2D2D2D;
}
.send-feedback strong{
    font-size: 14px;
    color:#2D2D2D;
}

.row1-quick select{
    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #afafaf;
    height: 27px;
    /*margin:0 5px;*/
    width: 330px;
}
.row1-quick .pho-select{
    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #afafaf;
    height: 30px;
    /*margin:0 5px;*/
    width: 85px;
}
.row1-quick1{
    margin-top:20px;
}
.row1-quick .profile-save {
    background: #9c0200 none repeat scroll 0 0;
    border: 1px solid #9c0200;
    border-radius: 5px;
    color: white;
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    height: 33px;
    margin-right: 10px;
    width: 80px;
}
.row1-quick  .profile-reset {
    background:#FEDC01 none repeat scroll 0 0;
    border: 1px solid #FEDC01;
    border-radius: 5px;
    color: #252525;
    font-family: "helvetica neue regular";
    font-size: 16px;
    font-weight: bold;
    height: 33px;
    width: 80px;
}

.row1-quick  p {
    color: #5F5F5F;
    font-size: 14px;
}

.row1-quick a {
    color: #9C0200;
    font-size: 13px;
    text-decoration: underline;
}
.row1-quick .input-box1{
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #bebebe;;
    padding: 7px 5px;
    width: 85px;
}
.row1-quick .input-box2{
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #bebebe;;
    padding: 7px 5px;
    width: 126px;
}
.row1-quick .verify {
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #bebebe;
    padding: 7px 5px;
    width: 200px;
}
.sub-list{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.row1-quick .input-box-help {
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: darkgrey;
    padding: 7px 5px 7px 60px;
    width: 262px;
}
.sub-list li{
    font-family: "helvetica neue regular";
    font-size: 16px;
    color:#2D2D2D;
    background-image: url('../Images/inner/brown-arrow-right.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 6px 20px;
}

.quick-right h3{
    font-family: helvetica;
    font-size: 18px;
    color:#9C0200;
    margin: 10px 0px 0px;
}
.brd-search{
    margin:10px 0 15px;
    border: 1px solid #E3E1E2;
}
.default-adv p{
    color:#6A6A6A;
    font-size: 14px;
    font-family: Helvetica;
    padding-bottom: 7px;
}
.default-adv a{
    text-decoration: underline;
    color:#9C0200;
    font-size: 14px;
    font-family: Helvetica;
    margin: 10px 20px 0 0;
    font-weight: bold;
}
.go-search input {
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 0;
    padding: 6px;
    width: 155px;
}

.go-search button {
    background: #9f0400 none repeat scroll 0 0;
    border: 1px solid #9f0400;
    border-radius: 7px;
    color: white;
    font-family: helvetica neue medium;
    font-weight: bold;
    /*margin-left: 10px;*/
    padding: 5px 8px;
}
.Contact_Content {
    margin-left: 17px;
}