.payment-cont-btnSubmit
{
    background: none repeat scroll 0 0 #9f0400;
    border: 1px solid #9f0400;
    border-radius: 5px;
    color: white;
    float: right;
    font-family: "helvetica neue regular";
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
}
.margin_l_15
{
    margin-left: 15px;
}
.float-right
{
    float:right;
}
.margin_l_5
{
    margin-left: 2px;
}
.margin_t_5
{
    margin-top: 6px;
}

.texts
{
    float:right;
    width:280px;
}

.textdecoration
{
    text-decoration:none;
}

.text_align_c
{
    text-align: center;
   
}

.margin_b_10
{
    margin-bottom: 10px;
}
.selectbox
{
    background-image: url('../Images/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    height: 27px !important;
    background-color: #FFF !important;
    font: 400 12px/18px 'Open Sans' , sans-serif !important;
    color: #000 !important;
    font-weight: normal !important;
    border: 1px solid #ccc !important;
    margin: 5px 0 0 0 !important;
    padding: 5px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
section#tabber
{
    width: 9999px;
    height: auto;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 0px !important;
}
section#tabber article
{
    width: 975px;
    height: auto;
    float: left;
    display: block;
}
#tabber_clip
{
    width: 970px; /*position: relative; /!* For IE *!/*/
    overflow: hidden; /* padding: 0px 0 20px 20px; /*height: 280px;*/ /*z-index:101;*/ /*border-top: 1px solid white;	*/ /*border-right: 2px solid white;	*/ /*border-bottom: 2px solid white;*/ /*border-left: 1px solid white;*/
    float: left;
    margin-top: 0px; /*  margin-left: 15px; */
}
section#tabber_tabs
{
    display: block;
    float: left;
    width: 950px;
    padding: 0 20px;
    margin: 0px 0 0 0;
    float: left;
}
section#tabber_tabs article
{
    display: block;
    float: left;
    height: 47px;
    margin-bottom: 10px;
    margin-right: 45px;
    width: 190px;
}

section#tabber_tabs article a
{
    background: none repeat scroll 0 0 #fedc01;
    color: #303030;
    display: block;
    font-family: "swiss";
    font-size: 13px;
    font-weight: bold;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 223px;
}
section#tabber_tabs article.active
{
    background: url(../Images/news-arrow.png) no-repeat center bottom transparent;
}
section#tabber_tabs article.active a
{
    background: #b01016;
    color: #fff;
    width: 162px;
    font-family: 'swiss';
    text-transform: uppercase;
    font-weight: bold;
}


.checkboxlist tr
{
    float: left;
    width: 525px;
}

.checkboxlist td
{
    border: medium none;
    float: left;
}

.checkboxlist input
{
    float: left;
    width: 10px;
}
.checkboxlist label
{
    float: left !important;
    font-weight: normal !important;
    display: inline-block !important;
}

.float_l
{
    float: left;
}
.clear_b
{
    clear: both;
}

.padding_b_20
{
    padding-bottom: 20px;
}
.header label
{
    color: #A00401 !important;
}
.checkboxlist label
{
    display: inline-block;
    margin-left: 5px;
    word-wrap: break-word;
}
.href
{
    color: White;
    font-weight: bold;
    text-decoration: none;
}
.float_right
{
    float: right;
    margin-right: 30px;
}
.margin_l_20
{
    margin-left: 20px;
}
.margin_l_25
{
    margin-left: 25px;
}
.margin_t_20
{
    margin-top: 20px;
}
.margin_t_10
{
    margin-top: 10px;
}
.float_l
{
    float: left;
}
.clear_b
{
    clear: both;
}
.margin_r_5
{
    margin-right: 5px;
}
.margin_r_10
{
    margin-right: 10px;
}
.margin_l_10
{
    margin-left: 10px;
}
.padding_b_20
{
    padding-bottom: 20px;
}
.header label
{
    color: #A00401 !important;
}
.btntab
{
    text-align: center;
    padding: 8px 0px;
    display: block;
    font-size: 18px;
    background: #FEDC01 none repeat scroll 0% 0%;
    color: #303030;
    width: 168px !important;
    font-family: "helvetica neue regular";
    text-decoration: none;
    cursor: pointer;
}
.margin_t_40 {
    margin-top: 40px;
}