/*Payment*/
body {
    color: #243d80;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height:19px;
    text-align: left;
}
.inner_cont h4
{
    padding: 0 15px;
    font-size: 15px;
    color: #030303;
}

.payment {
    font-family: arial;
    padding: 20px 15px;
}
.payment-table, th, td
{
 
    border-collapse: collapse;
}
#mem-color
{
    color: #040404;
    float: left;
    padding: 30px 20px;   
}
.payment-header, th
{    
    text-align: left;   
    background: #F2F2F2;
    color: #9F0004;
}
.payment-header, th, td
{   
    text-align: left;  
    font-size: 12px;
    text-align: center;
}

.points
{
    color: #A2A2A2;
    font-size: 12px;
    padding-left: 18px;
}
.inner-data, input
{
    font-size: 12px;
    margin-left: 0px;
}
.inner-data, td
{
    color: #333333 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 16px;
}
#change-color-bread a
{
    color: #9F0004;
}
.payment-cont
{
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    float: left;
}
.payment-cont span
{
    color: #3a3a3a;
    font-family: 'helvetica neue regular';
    font-size: 12px;
}
.payment-cont button
{
    background: none repeat scroll 0 0 #9f0400;
    border: 1px solid #9f0400;
    border-radius: 5px;
    color: white;
    float: right;
    font-family: "helvetica neue regular";
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
}



/*New Changes in Paymenmt*/
.payment-label:before
{
    display: none;
}
.payment-label:after
{
    display: none;
}
.payment-label
{
    background: #fbfeed none repeat scroll 0 0;
    border-radius: 4px;
    color: #80807e;
    padding: 0 5px;
}
.payment-header p
{
    color: #205f92;
    padding-bottom: 10px;
    padding-top: 2px;
}
.payment-header button
{
    background: #ff8112 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 3px;
    text-transform: uppercase;
}

#payment-header1 > th {
    background: #fddd3d none repeat scroll 0 0;
    border-top: 2px solid #fe8a1d;
    color: black;
    font-size: 16px;
    height: 20px;
}
#table-data
{
    text-align: left;
    padding-left: 20px;
}
#profile-row > td
{
    padding-top: 30px;
}

#profile-row > td
{
    color: #1e6092 !important;
    font-size: 20px;
    padding-top: 40px;
}
#table-data1
{
    color: black !important;
    font-size: 12px !important;
    padding-left: 20px;
    text-align: left;
}
.regular
{
    border-left: 3px solid #b5191a;
    border-right: 3px solid #b5191a;
    border-top: 3px solid #b5191a !important;
}
.regular-inner
{
    border-left: 3px solid #b5191a;
    border-right: 3px solid #b5191a;
}
#inner-table-bottom
{
    border-bottom: 2px solid #fe8a1d;
   
}
.inner-table-bottom1
{
   
}
.payment-diamond .button2
{
    background: #9f0400 none repeat scroll 0 0;
    border: 1px solid #9f0400;
    border-radius: 5px;
    color: white;
    float: left;
    font-weight: bold;
    margin-left: 30px;
    padding: 5px 25px;
}
.payment-diamond span
{
    float: left;
    font-weight: bold;
    padding-left: 10px;
    padding-top:5px;
}
.payment-para
{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    width: 100%;
}
.payment-para > p
{
    color: grey;
    font-family: helvetica;
    font-size: 13px;
    padding-bottom: 5px;
}

.regular > img
{
    height: 22px;
    left: 61.3%;
    position: absolute;
    right: 0;
    top: 54px;
    width: 95px;
    z-index: 999;
}
.buttoncss
{
    background: #ff8112 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 3px;
    text-transform: uppercase;
}

.button2 {
    background: #9f0400 none repeat scroll 0 0;
    border: 1px solid #9f0400;
    border-radius: 5px;
    color: white;
    float: left;
    font-size: 13px !important;
    font-weight: bold;
    margin-left: 10px !important;
    margin-top: 0 !important;
    padding: 5px 14px !important;
    width: 70px !important;
}

.ddsmoothmenu
{
    background: transparent;
}
.ddsmoothmenu ul
{
    z-index: 100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ddsmoothmenu ul li
{
    position: relative;
    display: inline;
    float: left;
    padding: 10px 35px;
}
.ddsmoothmenu ul li a
{
    display: block;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
* html .ddsmoothmenu ul li a
{
    display: inline-block;
}
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited
{
    color: #fff;
}
.ddsmoothmenu ul li a.selected
{
    color: #fff;
}
.ddsmoothmenu ul li a:hover
{
    color: #FFDD02;
}
.ddsmoothmenu ul li ul
{
    position: absolute;
    left: -3000px;
    display: none;
    visibility: hidden;
}
.ddsmoothmenu ul li ul li
{
    display: list-item;
    float: none;
    border-bottom: 1px solid #9C0200;
    padding: 0 !important;
}
.ddsmoothmenu ul li ul li ul
{
    top: 0;
}
.ddsmoothmenu ul li ul li a
{
    width: 130px;
    padding: 10px;
    margin: 0;
    border-top-width: 0;
    color: #000 !important;
    background: #FFDD02;
    border-bottom: none !important;
    text-transform: none !important;
    font-weight: normal;
}
.ddsmoothmenu ul li ul li a:hover
{
    color: #9C0200 !important;
}
* html .ddsmoothmenu
{
    height: 1%;
}
.downarrowclass
{
    position: absolute;
    top: 12px;
    right: 7px;
}
.rightarrowclass
{
    position: absolute;
    top: 6px;
    right: 5px;
}
.ddshadow
{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

/*FAQ*/

.accordion
{
    margin: 0 0 50px 0;
    width: 100%;
    float: left;
}

/*Payment*/
.inner_cont h4
{
    padding: 0 15px;
    font-size: 15px;
    color: #030303;
}


.points
{
    color: #A2A2A2;
    font-size: 12px;
    padding-left: 18px;
}
.inner-data, input
{
    font-size: 12px;
    margin-left: 0;
}
.inner-data, td
{
    color: #333333 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 25px;
    text-align:center;
}
#change-color-bread a
{
    color: #9F0004;
}


/*reg page*/
.reg-form
{
}
.child-brd-li
{
    height: 12px !important;
}
.reg-form li
{
    height: 40px;
    list-style-type: none;
    padding-bottom: 5px;
    width: 935px;
}
.reg-form label:before
{
    display: none;
}
.reg-form label:after
{
    display: none;
}
.reg-form label
{
    float: left;
    font-size: 14px;
    width: 200px;
    font-family: Arial;
}
.reg-form button
{
    width: 40px;
    height: 25px;
}
.reg-form .input-box
{
    border-bottom: 1px solid #C3C3C4;
    border-left: 1px solid #C3C3C4;
    border-right: 1px solid #C3C3C4;
    border-top: 1px solid #C3C3C4;
    color: #606060;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 346px;
}
.reg-form .text-area
{
    height: 110px !important;
}
.about-us-text
{
    height: 100px !important;
}
.about-us-text textarea
{
    width: 900px !important;
    height: 100px !important;
}
.reg-form textarea
{
    width: 352px;
    height: 85px;
    border-radius: 5px;
}
.submit-btn button
{
    float: right;
    padding: 6px 10px;
    background: #9F0400;
    color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    border: 1px solid #9F0400;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.reg-form .citizen
{
    border-bottom: 1px solid #DBDFA6 !important;
    border-left: 1px solid #DBDFA6 !important;
    border-right: 1px solid #DBDFA6 !important;
    border-top: 1px solid #DBDFA6 !important;
    color: #606060 !important;
    border-radius: 6px 6px 6px 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    font: 13px Arial, Helvetica, sans-serif !important;
    padding: 6px 6px 4px !important;
    width: 200px !important;
    overflow-y: scroll !important;
    background-image: url('') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}
.reg-form select
{
    border-bottom: 1px solid #C3C3C4;
    border-left: 1px solid #C3C3C4;
    border-right: 1px solid #C3C3C4;
    border-top: 1px solid #C3C3C4;
    color: #606060;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 360px;
    background-image: url('../CutomerImages/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cssmenu1
{
    width: 475px !important;
}
.branch-right
{
    width: 465px;
    float: left;
    margin-right: 10px;
}
.branch-left
{
    width: 465px;
    float: left;
    margin-left: 10px;
}

.submit-btn > span
{
    color: gray;
    font-family: helvetica;
    font-size: 14px;
}
.brd
{
    border: 1px dashed grey;
    margin-top: 12px;
}

.cityzen-row1
{
    float: left;
    width: 200px;
}
.cityzen-row2
{
    float: left;
    width: 300px;
}
.cityzen-row3
{
    float: left;
    padding: 19px 0;
    width: 44px;
}
.cityzen-row4
{
    float: left;
    width: 220px;
}
.inner_cont_quick1
{
    padding: 15px 10px;
    background: #fff;
    float: left;
    width: 725px;
    border: 1px solid #cfcfcf;
}
.inner_cont_quick1 h2
{
    color: #fff;
    background: #9F0400;
    margin: 0 15px;
    padding: 10px 15px;
    font-size: 16px;
}
.inner_cont_quick1 h3
{
    padding: 15px 30px;
    font-size: 14px;
    color: #3E3E3E;
}
.inner_cont_quick2
{
    padding: 0px 10px 15px;
    background: #fff;
    float: left;
    width: 220px;
    border: 1px solid #cfcfcf;
    margin-left: 10px;
    height: 441px;
}
.reg-form1
{
}
.child-brd-li
{
    height: 12px !important;
}
.reg-form1 li
{
    height: 40px;
    list-style-type: none;
    padding-bottom: 5px;
    width: 935px;
}
.reg-form1 label:before
{
    display: none;
}
.reg-form1 label:after
{
    display: none;
}
.reg-form1 label
{
    float: left;
    font-size: 14px;
    width: 200px;
    font-family: Arial;
}
.reg-form1 button
{
    width: 40px;
    height: 25px;
}
.reg-form1 .input-box
{
    border-bottom: 1px solid #C3C3C4;
    border-left: 1px solid #C3C3C4;
    border-right: 1px solid #C3C3C4;
    border-top: 1px solid #C3C3C4;
    color: #606060;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 260px;
}
.reg-form1 .text-area
{
    height: 110px !important;
}
.reg-form1 textarea
{
    width: 352px;
    height: 85px;
    border-radius: 5px;
}
.reg-form1 .citizen
{
    border-bottom: 1px solid #DBDFA6 !important;
    border-left: 1px solid #DBDFA6 !important;
    border-right: 1px solid #DBDFA6 !important;
    border-top: 1px solid #DBDFA6 !important;
    color: #606060 !important;
    border-radius: 6px 6px 6px 6px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    font: 13px Arial, Helvetica, sans-serif !important;
    padding: 6px 6px 4px !important;
    width: 200px !important;
    overflow-y: scroll !important;
    background-image: url('') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}
.reg-form1 select
{
    border-bottom: 1px solid #C3C3C4;
    border-left: 1px solid #C3C3C4;
    border-right: 1px solid #C3C3C4;
    border-top: 1px solid #C3C3C4;
    color: #606060;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 275px;
    background-image: url('../CutomerImages/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btnSubmit {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #9d0103, #9d0103) repeat scroll 0 0 !important;
    border-color: #9d0103 !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    color: white !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 18px !important;
    margin-top: 10px !important;
    padding: 5px 6px !important;
    width: 115px !important;
    margin-left:85px;
}

.inner-data.inner-table-bottom1 span {
    float: left;
    margin-left: 15px;
    text-align: left !important;
}
#inner-table-bottom span {
    float: left;
    margin-left: 15px;
}
.as {
    border-left: 1px solid #fe8a1d;
    border-right: 1px solid #fe8a1d !important;
}
.lblprofile
{
    float:left !important;
    margin-left:10px !important;
    }