.policy {
    background: #ebebeb none repeat scroll 0 0;
    margin: 15px 15px 15px;
    padding: 10px 20px;
}
.policy h6 {
    color: #9f0400;
    font-size: 16px;
    padding-bottom: 10px;
}
.policy p {
    color: #2d2d2d;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: justify;
}
.policy-sub{
    color: #9f0400;
    font-size: 14px;
    margin: 15px 15px 0;
    padding: 0 0px;
}
.policy a {
    color: #2d2d2d;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: justify;
    text-decoration: none;
}