/* Tabber */
ul#tabber {	width: 9999px;height: auto;display: block;float: left;position: relative;margin: 0;padding: 0;}
ul#tabber li {width: 600px;	height: auto; float: left;	display: block;	}
#tabber_clip { width: 600px; position: relative; /* For IE */overflow: hidden;height: auto;z-index:101;border-top: 1px solid white;	border-right: 2px solid white;	border-bottom: 2px solid white;	border-left: 1px solid white;float: left;margin-top:15px;
    margin-left:15px;}
ul#tabber_tabs {display: block;	float: left;width: 725px;padding: 0 8px;margin: 0 0 0 0; }
ul#tabber_tabs li {	display: block;	float: left;width:180px;height:43px;}
ul#tabber_tabs li a {text-align:center;	padding:8px 0px;display: block;font-size: 18px;background:#FEDC01;color:#303030; width:168px !important ;font-family: 'helvetica neue regular';text-decoration:none;}
ul#tabber_tabs li.active{background:url(../Images/news-arrow.png) no-repeat center bottom  transparent;}
ul#tabber_tabs li.active a {background:#b01016;	color: #fff;width:168px!important; font-family: 'helvetica neue regular';font-size: 18px;}
.codetab {padding: 10px;width: 250px;height: auto;	background: #646391;font-size: 0.9em; overflow: auto; display: block;float: left;}
.tab_cont{ padding:20px 0px;margin-left: 50px; }
.tab_cont a{  color:#b01016; font-family:'myraid'; ; text-decoration:none; padding-bottom:5px; font-size:16px;}
.tab_cont a:hover{ text-decoration:underline;}
/*end of tabber*/

#tab_cont_1 label::before{  display: none;!important;  }
#tab_cont_1 label::after{  display: none; !important; }
#tab_cont_1 label { font-size: 15px; color:#2A2A2A; }
#tab_cont_1 input {border: 1px solid #bebebe;  border-radius: 5px;  box-shadow: none;  margin-left: 20px;  padding: 7px;  width: 200px; }
#tab_cont_1 button {  background: #9f0400 none repeat scroll 0 0;  border: 1px solid #9f0400;  border-radius: 7px;  color: white;  font-family: helvetica neue medium;  font-weight: bold;  padding: 7px 15px;     margin-left: 10px; }







/**/
.profile-settings{
    float: left;
    padding: 20px 0;
    width: 100%;
}

.row1-quick  {
    margin-bottom: 15px;
}
.row1-quick label::before{
    display: none;
}
.row1-quick label::after{
    display: none;
}
.row1-quick label{
    color: #030303;
    float: left;
    font-family: helvetica;
    font-size: 17px;
    font-weight: bold;
    width: 150px;
}
.row1-quick a{
    font-size: 12px;
    text-decoration: underline;
}
/*.row1-quick  .enter-mail{*/
    /*border: 1px solid #afafaf;*/
    /*border-radius: 6px;*/
    /*color: #afafaf;*/
    /*height: 15px;*/
    /*margin-right: 5px;*/
    /*padding: 7px;*/
    /*width: 285px;*/
/*}*/
/*.row1-quick  .enter-num{*/
    /*border: 1px solid #afafaf;*/
    /*border-radius: 6px;*/
    /*color: #afafaf;*/
    /*height: 15px;*/
    /*margin-right: 5px;*/
    /*padding: 7px;*/
    /*width: 185px;*/
/*}*/
/*.row1-quick  .enter-area{*/
    /*border: 1px solid #afafaf;*/
    /*border-radius: 6px;*/
    /*color: #afafaf;*/
    /*height: 15px;*/
    /*margin-right: 5px;*/
    /*padding: 7px;*/
    /*width: 55px;*/
/*}*/
/*.row1-quick .enter-land{*/
    /*border: 1px solid #afafaf;*/
    /*border-radius: 6px;*/
    /*color: #afafaf;*/
    /*height: 15px;*/
    /*margin-right: 5px;*/
    /*padding: 7px;*/
    /*width: 104px;*/
/*}*/
.row1-quick  .select-td{
    width:30px;
}

.row1-quick .select-age{
    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #afafaf;
    height: 27px;
    margin:0 5px;
    width: 134px;
     background: #fff;
    background-image: url('../Images/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.row1-quick select{
    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #afafaf;
    height: 27px;
    margin:0 5px;
    width: 337px;
       background: #fff;
    background-image: url('../Images/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.row1-quick .caste-para {
    padding: 0 96px 0 154px;
}
.row1-quick .caste-para p{
    color: #989898;
    font-family: helvetica;
    font-size: 15px;
   
}

.row1-quick1{
    margin-top:20px;
}
.row1-quick1 .profile-save {
    background: #9c0200 none repeat scroll 0 0;
    border: 1px solid #9c0200;
    border-radius: 5px;
    color: white;
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    height: 33px;
    margin-left: 149px;
    margin-right: 10px;
    width: 80px;
}
.row1-quick1  .profile-reset {
    background:#FEDC01 none repeat scroll 0 0;
    border: 1px solid #FEDC01;
    border-radius: 5px;
    color: #252525;
    font-family: "helvetica neue regular";
    font-size: 16px;
    font-weight: bold;
    height: 33px;
    width: 80px;
}
.sub-list{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.sub-list li{
    font-family: "helvetica neue regular";
    font-size: 16px;
    color:#2D2D2D;
    background-image: url('../Images/inner/brown-arrow-right.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 6px 20px;
}

.quick-right h3{
    font-family: helvetica;
    font-size: 18px;
    color:#9C0200;
    margin: 10px 0px 0px;
}
.brd-search{
    margin:10px 0 15px;
    border: 1px solid #E3E1E2;
}
.default-adv p{
    color:#6A6A6A;
    font-size: 14px;
    font-family: Helvetica;
    padding-bottom: 7px;
}
.default-adv a{
  text-decoration: underline;
    color:#9C0200;
    font-size: 14px;
    font-family: Helvetica;
    margin: 10px 20px 0 0;
    font-weight: bold;
}
.go-search input {
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 0;
    padding: 6px;
    width: 155px;
}

.go-search button {
    background: #9f0400 none repeat scroll 0 0;
    border: 1px solid #9f0400;
    border-radius: 7px;
    color: white;
    font-family: helvetica neue medium;
    font-weight: bold;
    /*margin-left: 10px;*/
    padding: 5px 8px;
}