<div class="landing_page_main" ng-init="init()">
	<div class="landing_page_head clearfix">
		<div class="landing_page_head_lt clearfix">
			<div class="landing_page_head_lt_pic">
				<div id="divMask">
					<img id="imgprofile" width="116" height="116" class="img-circle" />
				</div>
			</div>
			<div class="landing_page_head_lt_in">
				<h5>Welcome <span>
                        <label id="lblCustName">{{PersonalInfo.NAME}}</label>
                    </span></h5>
				<div class="landing_page_head_lt_in_cont">
					<div id="notifyDivc">
						<p ng-repeat="item in staticNotification" class="clearfix"> <span id="lblRepeateContains">{{item}}</span>
							<a id="lnkViewNotificationsbind" href="javascript:void(0);">View details</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="landing_page_head_rt">
			<h6>Your profile</h6>
			<p class="progress_profile"></p>

			<p>
				You have provided
				<label id="percentagecontrol"></label> of your details
			</p>
			<a href="javascript:void(0);" id="lnkpaymentpage" onclick="return servicesRedirectlinks('Editmyprofile');">Please update your profile completely</a>
		</div>

	</div>

	<div class="landing_page_content clearfix">
		<div class="landing_page_sidebar_lt">
			<div class="landing_page_sidebar_lt_in clearfix">
				<h4>personalised services</h4>
				<ul>
					<li>
						<a ng-repeat="item in leftMenuArr" ng-click="item.bindvalue===null?'':gettingpartnerdata(item.clickvalues,1,9,item.clickvaluesbind)"
							ng-if="item.bindvalue != 0" href={{item.hrefs}}>{{item.value}}<span ng-hide="item.bindvalue==null"
                        > ({{item.bindvalue}})</span></a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div id="accordion">
				<div class="landing_page_sidebar_rt_in">
					<div id="Expressintrst" class="panel panel-default">
						<div class="">
							<h4 class="panel-title jumbotron">
								<span id="lblMainHeader">Express intrest</span>
								<img id="Image1" class="interest-icon2">
							</h4>
						</div>
						<div class="dataContentSection">
							<div class="panel-body">
								<div class="landing_page_sidebar_rt_list_item_menu">
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<a id="lnkallprofiles" class="clearfix" href="javascript:void(0);" ng-click="expressinterest(undefined,undefined,undefined,'lnkallprofiles');">
											<small>
                                                  <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                       <div id="imaallprofiles" class="icon-spl-4"></div>
                                           </div>
                                                </small>
											<span id="spnallprofiles">All Profiles</span>
										</a>
										<a id="lnknewExp" class="clearfix" href="javascript:void(0);" ng-click="expressinterest('R',undefined,undefined,'lnknewExp');">
											<small>
                                                <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimageExp" class="icon-spl-4"></div>
                                                </div>
                                               </small>
											<span id="lnkNewIDsExp" style="width: 98%; padding-left: 10px; white-space: normal; text-overflow: unset; float: unset;">Interest Expressed By</span>
										</a>
										<a id="lnkAcceptExp" class="clearfix" href="javascript:void(0);" ng-click="expressinterest('S',undefined,undefined,'lnkAcceptExp');">
											<small>
                                                  <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image2Exp" class="icon-spl-2"></div>
                                                </div>
                                                    
                                                </small>
											<span id="lnkACCEPTEDExp">I sent interest</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="Chats" class="panel panel-default">
						<div class="">
							<h4 class="panel-title jumbotron">
								<span id="ctl00_ContentPlaceHolder1_rptRightMenu_ctl01_lblMainHeader">chats</span>
								<img id="ctl00_ContentPlaceHolder1_rptRightMenu_ctl01_Image1" class="icon-spl-9-2">
							</h4>
						</div>
						<div class="dataContentSection">
							<div class="panel-body">
								<div class="landing_page_sidebar_rt_list_item_menu">
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<h5>
											<span id="lblSubHeaderchats"></span>
										</h5>
										<div id="uplnknewchat" class="clearfix">
											<a id="lnknewchat" class="clearfix" href="javascript:void(0);" ng-click="chatsdiv()">
												<small>
                                                     <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimagechat" class="icon-spl-4"></div>
                                                </div>
                                                       
                                                    </small>
												<span id="lnkNewIDmsgs">New</span></a>
											<a id="lnkAcceptMsgs" class="clearfix" href="javascript:void(0);" ng-click="chatsdiv()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Img2" class="icon-spl-2"></div>
                                                </div>
                                                        
                                                    </small>
												<span id="lnkACCEPTEDmsgs">Messages</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="Request" class="panel panel-default">
						<div class="">
							<h4 class="panel-title jumbotron">
								<span id="lblMainHeaderReq">Requests</span>
								<img id="Image1Req" class="icon-spl-9-2">
							</h4>
						</div>
						<div class="dataContentSection">
							<div class="panel-body">
								<div class="landing_page_sidebar_rt_list_item_menu">
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<h5>
											<span id="lblSubHeaderReq">Received</span>
										</h5>
										<div id="uplnknewReq" class="clearfix">
											<a id="lnknewReq" class="clearfix" href="javascript:void(0);" ng-click="reqphotos()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimageReq" class="icon-spl-4"></div>
                                                </div>
                                                       
                                                    </small>
												<span id="lnkNewIDsReceivedReq">RecPhoto</span></a>
											<a id="lnkAcceptReq" class="clearfix" href="javascript:void(0);" ng-click="reqphotos()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image2Req" class="icon-spl-8"></div>
                                                </div>
                                                      
                                                    </small>
												<span id="lnkRecHoroReq">RecHoro</span></a>
										</div>
									</div>
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<h5>
											<span id="lblSubHeader1">Sent</span>
										</h5>
										<div id="uplnknew1" class="clearfix">
											<a id="lnknew1" class="clearfix" href="javascript:void(0);" ng-click="reqphotos()">
												<small>
                                                     <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimage1" class="icon-spl-1"></div>
                                                </div>
                                                       
                                                    </small>
												<span id="lnkNewIDsSentReq">SentPhoto</span></a>
											<a id="lnkAccept1" class="clearfix" href="javascript:void(0);" ng-click="reqphotos()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image21" class="icon-spl-2"></div>
                                                </div>
                                                      
                                                    </small>
												<span id="lnkSentHoroReq">SentHoro</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="PhotoPassword" class="panel panel-default">
						<div class="">
							<h4 class="panel-title jumbotron">
								<span id="lblMainHeaderpassword">PasswordProtected</span>
								<img id="Image1password" class="icon-spl-9-2">
							</h4>
						</div>
						<div class="dataContentSection">
							<div class="panel-body">
								<div class="landing_page_sidebar_rt_list_item_menu">
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<h5>
											<span id="lblSubHeaderpassword">Received</span>
										</h5>
										<div id="uplnknewpassword" class="clearfix">
											<a id="lnknewpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                     <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimagepassword" class="icon-spl-1"></div>
                                                </div>
                                                    
                                                    </small>
												<span id="lnkNewIDsReceivedProtec">New</span></a>
											<a id="lnkAcceptpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                     <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image2password" class="icon-spl-2"></div>
                                                </div>
                                                      
                                                    </small>
												<span id="lnkACCEPTEDReceivedProtec">Accepted</span></a>
											<a id="lnkRejPathpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image3password" class="icon-spl-9"></div>
                                                </div>
                                                     
                                                    </small>
												<span id="lnkREJECTEDReceivedProtec">Rejected</span></a>
										</div>
									</div>
									<div class="landing_page_sidebar_rt_list_item_in clearfix">
										<h5>
											<span id="lblSubHeadersentpassword">Sent</span>
										</h5>
										<div id="uplnknewsendpassword" class="clearfix">
											<a id="lnknewsentpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="plusimagesentpassword" class="icon-spl-4"></div>
                                                </div>
                                                      
                                                    </small>
												<span id="lnkNewIDsSentProtec">Reply Pending</span></a>
											<a id="lnkAcceptsendpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                     <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image2sendpassword" class="icon-spl-5"></div>
                                                </div>
                                                     
                                                    </small>
												<span id="lnkACCEPTEDSentProtec">Accepted</span></a>
											<a id="lnkRejPathsendpassword" class="clearfix" href="javascript:void(0);" ng-click="reqphotopasswordclick()">
												<small>
                                                    <div style="display: block;margin: 0 auto;padding: 1px 4px 1px 4px;border: solid 1px #ccc;border-radius: 3px;">
                                             <div id="Image3sendpassword" class="icon-spl-6"></div>
                                                </div>
                                                    </small>
												<span id="lnkREJECTEDSentProtec">Rejected</span></a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="landing_page_sidebar_lt_sprt">
				<h4>Dedicated support<span>Relationship Manager (RM)</span></h4>
				<p>
					Contact : <span>
                            <label id="lblOwner">{{PersonalInfo.EmployeeName}}</label>
                        </span><b>
                            <label id="lblOwnerContact">{{PersonalInfo.EmpPhone}}</label>
                            <label id="lblOfficialContactNumber">{{PersonalInfo.OfficialContactNumber}}</label>
                        </b>
				</p>
				<label id="lnkEmails" style="color: red;">{{PersonalInfo.EmailID}}</label>
			</div>
		</div>
		<div class="landing_page_middle">
			<div id="Div1" class="landing_page_middle_in">
				<div class="searched_list clearfix">
					<div class="clear"></div>
					<div class="clearfix col-lg-9" style="padding: 0 0 0 0;">
						<div style="margin: 0;">
							<h1 class="span1"><b>
                                    <label id="lblSearchresultCount" style="color: #d42e02;">{{PartnerProfilesnewTotalrows}}</label>
                                </b></h1>
							<label id="lblUHaveviewd" class="control-label span5">{{lblUHaveviewd}}</label>
						</div>
						<div class="clear"></div>
						<!--all tabs-->
					</div>
					<div class="search_results_main clearfix" style="display: none;">
						<div class="search_result_items_main clearfix">
						</div>
					</div>
					<partner-data array="PartnerProfilesnew"></partner-data>
				</div>
			</div>
			<div id="uctrldiv">
			</div>
		</div>
	</div>
</div>